{% load static from staticfiles %}

<div id="title-div">
  <table id="icon-table">
      <tr>
	  <td id="icon-cell">
	      <img src={%static "images/advancedSearch.png" %} width="32" height="32"/>
	  </td>       
	 <td id="title-cell">
	      Advanced Search
	  </td>
      </tr>
  </table>    
</div>
<br>
<script>
    require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/Dialog"]);
</script>
<form id="myFormThree" name="advanced" action="/lapack_svd/advancedSearch/" name="frmProb" method="post"
      data-dojo-type="dijit/form/Form" data-dojo-id="myFormThree" encType="multipart/form-data"
      onSubmit="return formValid();">
  {% csrf_token %}
  <script>
      function formValid(){
	  ////check whether radio buttons are checked
	  if (document.getElementById("id_driver_standard_search_1").checked == false && document.getElementById("id_driver_generalized_search_1").checked == false) {
	    alert("Select at least one category to search in.");
	    return false;
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Standard
	  if(document.getElementById("id_driver_standard_search_1").checked){
	    var complexNumber_check1 = dojo.query('INPUT[name=standard_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check1 = dojo.query('INPUT[name=standard_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check1 == 0 && singleDouble_check1 > 0){
		alert("Check at least one box in the Complex Number cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 > 0){
		alert("Check at least one box in the Precision cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in Standard Sylvester column.");
		return false;
	    }	
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Generalized
	  if(document.getElementById("id_driver_generalized_search_1").checked){
	    var complexNumber_check2 = dojo.query('INPUT[name=generalized_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check2 = dojo.query('INPUT[name=generalized_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check2 == 0 && singleDouble_check2 > 0){
		alert("Check at least one box in the Complex Number cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 > 0){
		alert("Check at least one box in the Precision cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in the Generalized Sylvester column.");
		return false;
	    }
	  }	  
      }
  </script>
  <table id='ver-zebra'>
    <!-- Colgroup -->
    <colgroup>
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
    </colgroup>
    <tr>
      <th>Routine category</th>
      {% for form in formList %}
      <th> {{ form.driverComput }} </th>
      {% endfor %}
    </tr>
    <tr>
      <th>Standard/Generalized</th>
      {% for form in formList %}
      <th> {{ form.standardGeneralized }} </th>
      {% endfor %}
    </tr>
    <tr>
      <th>Function</th>
      {% for form in formList %}
      <td>	
	{% if form.function.field.widget %}
	  <ul>
	  {% for choice_id, choice_label in form.function.field.choices %}
	    <li>
	      <label for="{{ form.function.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox"
		       name="{{ form.function.html_name }}"
		       value="{{ choice_id }}"
		       id="{{ form.function.auto_id }}_{{ forloop.counter0 }}" /> {{ choice_label }}
	      </label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>
	{% else %}
	  {{ form.function }}
	    <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
	  </div>
	{% endif %}
      </td>
      {% endfor %}      
    </tr>
    <tr>
      <th>Complex number</th>
      {% for form in formList %}
      <td> {{ form.complexNumber }} </td>
      {% endfor %}      
    </tr>
    <tr>
      <th>Method for SVD</th>
      {% for form in formList %}
      <td>	
	{% if form.method.field.widget %}
	  <ul>
	  {% for choice_id, choice_label in form.method.field.choices %}
	    <li>
	      <label for="{{ form.method.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox"
		       name="{{ form.method.html_name }}"
		       value="{{ choice_id }}"
		       id="{{ form.method.auto_id }}_{{ forloop.counter0 }}" /> {{ choice_label }}
	      </label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>
	{% else %}
	  {{ form.method }}
	    <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
	  </div>
	{% endif %}
      </td>
      {% endfor %}       
    </tr>
    <tr>
      <th>Singular vectors</th>
      {% for form in formList %}
      <td> {{ form.singularVectors }} </td>
      {% endfor %}      
    </tr>
    <tr>
      <th>Precition</th>
      {% for form in formList %}
      <td> {{ form.singleDouble }} </td>
      {% endfor %}      
    </tr>
  </table>  
  
  <div id="button-div">
    <table style="width:100%; margin: 0px auto;">
      <tr style="width:100%;">
	<td style="text-align:left;">       
	  <button type="button" name="clear" id="clearButton_advanced" class="myButton" title="Clear Search"
		  onmouseover="showTooltip('tooltip_advanced', 'Clear Search','#cc0000');"
		  onmouseout="showTooltip('tooltip_advanced','');"
		  onclick="show_confirm('/lapack_svd/')">
	      <img src={%static "images/clear.png" %} width="16" height="16"/> 
	  </button>       
	</td>
	<td style="text-align:center;">
	  <div id="tooltip_advanced"></div>
	</td>
	<td style="text-align:right;">
	  <button type="submit" name="guided" value="submit" id="submitButton_advanced" title="Submit Answer" class="myButton"
		  onmouseover="showTooltip('tooltip_advanced', 'Submit', '#009900');"
		  onmouseout="showTooltip('tooltip_advanced','');">
	      <img src={%static "images/dialog-ok-4.png" %} width="16" height="16"/>
	  </button >
	</td>
      </tr>
    </table>
  </div>
</form>


{% for form in formList %}

      {{ form }}

{% endfor %}