{% load static from staticfiles %}

<div id="title-div">
  <table id="icon-table">
      <tr>
	  <td id="icon-cell">
	      <img src={%static "images/advancedSearch.png" %} width="32" height="32"/>
	  </td>       
	 <td id="title-cell">
	      Advanced Search
	  </td>
      </tr>
  </table>    
</div>
<br>
<script>
    require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/Dialog"]);
</script>
<form id="myFormThree" name="advanced" action="/lapack_svd/advancedSearch/" name="frmProb" method="post"
      data-dojo-type="dijit/form/Form" data-dojo-id="myFormThree" encType="multipart/form-data"
      onSubmit="return formValid();">
  {% csrf_token %}
  <script>
      function formValid(){
	  ////check whether radio buttons are checked
	  if (document.getElementById("id_driver_standard_search_1").checked == false && document.getElementById("id_driver_generalized_search_1").checked == false) {
	    alert("Select at least one category to search in.");
	    return false;
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Standard
	  if(document.getElementById("id_driver_standard_search_1").checked){
	    var complexNumber_check1 = dojo.query('INPUT[name=standard_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check1 = dojo.query('INPUT[name=standard_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check1 == 0 && singleDouble_check1 > 0){
		alert("Check at least one box in the Complex Number cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 > 0){
		alert("Check at least one box in the Precision cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in Standard Sylvester column.");
		return false;
	    }	
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Generalized
	  if(document.getElementById("id_driver_generalized_search_1").checked){
	    var complexNumber_check2 = dojo.query('INPUT[name=generalized_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check2 = dojo.query('INPUT[name=generalized_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check2 == 0 && singleDouble_check2 > 0){
		alert("Check at least one box in the Complex Number cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 > 0){
		alert("Check at least one box in the Precision cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in the Generalized Sylvester column.");
		return false;
	    }
	  }	  
      }
  </script>
  <table id='ver-zebra'>
    <!-- Colgroup -->
    <colgroup>
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
	    <col class="vzebra-even">
	    <col class="vzebra-odd">
    </colgroup>
    <tr>
      <td class="a">Routine category</td>
      <td class="a"> {{ form1.driver_standard_driverComput }} </td>
      <td class="a"> {{ form2.driver_generalized_driverComput }} </td>
      <td class="a"> {{ form3.computational_standard_driverComput }} </td>
      <td class="a"> {{ form4.computational_generalized_driverComput }} </td>
    </tr>
    <tr>
      <td class="a">Standard/Generalized</td>
      <td class="a"> {{ form1.driver_standard_standardGeneralized }} </td>
      <td class="a"> {{ form2.driver_generalized_standardGeneralized }} </td>
      <td class="a"> {{ form3.computational_standard_standardGeneralized }} </td>
      <td class="a"> {{ form4.computational_generalized_standardGeneralized }} </td>
    </tr>
    <tr>
      <td class="a">Function</td>
      <td>
	  {{ form1.driver_standard_function }}
	  <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td>
      <td>
	  {{ form2.driver_generalized_function }}
	  <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td>
      <td>	
	  <ul>
	  {% for choice_id, choice_label in form3.computational_standard_function.field.choices %}
	    <li>
	      <label for="{{ form3.computational_standard_function.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox" id="{{ form3.computational_standard_function.auto_id }}_{{ forloop.counter0 }}" value="{{ choice_id }}" name="{{ form3.computational_standard_function.html_name }}" /> {{ choice_label }}</label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>
	  <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td>
      <td>	
	  <ul>
	  {% for choice_id, choice_label in form4.computational_generalized_function.field.choices %}
	    <li>
	      <label for="{{ form4.computational_generalized_function.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox" id="{{ form4.computational_generalized_function.auto_id }}_{{ forloop.counter0 }}" value="{{ choice_id }}" name="{{ form4.computational_generalized_function.html_name }}" /> {{ choice_label }}</label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>
	  <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td> 
    </tr>
    <tr>
      <td class="a">Complex number</td>
      <td> {{ form1.driver_standard_complexNumber }} </td>
      <td> {{ form2.driver_generalized_complexNumber }} </td>
      <td> {{ form3.computational_standard_complexNumber }} </td>
      <td> {{ form4.computational_generalized_complexNumber }} </td>
    </tr>
    <tr>
      <td class="a">Method for SVD</td>
      <td>	
	  <ul>
	  {% for choice_id, choice_label in form1.driver_standard_method.field.choices %}
	    <li>
	      <label for="{{ form1.driver_standard_method.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox" id="id_{{ formName }}_{{ form1.driver_standard_method.auto_id }}_{{ forloop.counter0 }}" value="{{ choice_id }}" name="{{ formName }}_{{ form1.driver_standard_method.html_name }}" /> {{ choice_label }}</label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>
      </td>
      <td>
	  {{ form2.driver_generalized_method }}
	    <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span> 	
      </td>
      <td>
	  <ul>
	  {% for choice_id, choice_label in form3.computational_standard_method.field.choices %}
	    <li>
	      <label for="{{ form3.computational_standard_method.auto_id }}_{{ forloop.counter0 }}">
		<input type="checkbox" id="id_{{ formName }}_{{ form3.computational_standard_method.auto_id }}_{{ forloop.counter0 }}" value="{{ choice_id }}" name="{{ formName }}_{{ form3.computational_standard_method.html_name }}" /> {{ choice_label }}</label>
	      <span onClick="dialog_uqTri_real.show();"><img src={%static "images/question.png" %} width="16" height="16"/></span>
	    </li>
	  {% endfor %}
	  </ul>   
      </td>
      <td>
	  {{ form4.computational_generalized_method }}
	    <span onClick=alert('test!')><img src={%static "images/question.png" %} width="16" height="16"/></span> 	
      </td>
      
    </tr>
    <tr>
      <td class="a">Singular vectors</td>
      <td> {{ form1.driver_standard_singularVectors }} </td>
      <td> {{ form2.driver_generalized_singularVectors }} </td>
      <td> {{ form3.computational_standard_singularVectors }} </td>
      <td> {{ form4.computational_generalized_singularVectors }} </td>   
    </tr>
    <tr>
      <td class="a">Precition</td>
      <td> {{ form1.driver_standard_singleDouble }} </td>
      <td> {{ form2.driver_generalized_singleDouble }} </td>
      <td> {{ form3.computational_standard_singleDouble }} </td>
      <td> {{ form4.computational_generalized_singleDouble }} </td>       
    </tr>
  </table>  
  
  <div id="button-div">
    <table style="width:100%; margin: 0px auto;">
      <tr style="width:100%;">
	<td style="text-align:left;">       
	  <button type="button" name="clear" id="clearButton_advanced" class="myButton" title="Clear Search"
		  onmouseover="showTooltip('tooltip_advanced', 'Clear Search','#cc0000');"
		  onmouseout="showTooltip('tooltip_advanced','');"
		  onclick="show_confirm('/lapack_svd/')">
	      <img src={%static "images/clear.png" %} width="16" height="16"/> 
	  </button>       
	</td>
	<td style="text-align:center;">
	  <div id="tooltip_advanced"></div>
	</td>
	<td style="text-align:right;">
	  <button type="submit" name="guided" value="submit" id="submitButton_advanced" title="Submit Answer" class="myButton"
		  onmouseover="showTooltip('tooltip_advanced', 'Submit', '#009900');"
		  onmouseout="showTooltip('tooltip_advanced','');">
	      <img src={%static "images/dialog-ok-4.png" %} width="16" height="16"/>
	  </button >
	</td>
      </tr>
    </table>
  </div>
</form>

<script>
    var tbl  = document.getElementById('ver-zebra');
    var rows = tbl.getElementsByTagName('tr');

    for (var row=0; row<rows.length; row++) {
      var cels = rows[row].getElementsByTagName('td');
      for (i=0; i<{{ col_no }}.length; i++) {

	  cels[{{ col_no }}[i]].style.display='none';
      }
    }  
</script>
