{% extends "dojango/base_lapack.html" %}


<!-- ########### Guided search questions: ###########-->
{% block dojango_content_guidedSearch %}
{% include "lighthouse/lapack_eigen/guidedSearch.html" %}
{% endblock %}


<!-- ########### Advanced search form: ###########-->
{% block dojango_content_advancedSearch %}
{% include "lighthouse/lapack_eigen/advanced/advancedSearchMenu.html" %}
{% endblock %}


<!-- ########### Search results: ###########-->
{% block dojango_content_search_result %}
    {% if form_submitted %}
        {% include "lighthouse/lapack_eigen/resultsAdvanced.html" %}
    {% else %}
        {% include "lighthouse/lapack_eigen/results.html" %}
    {% endif %}
{% endblock %}
