{% extends "dojango/base_eigen.html" %}


<!-- ########### Simple search questions: ###########-->
{% block dojango_content_eigen_guidedSearch %}
{% include "lighthouse/lapack_eigen/guidedSearch.html" %}
{% endblock %}

{% block dojango_content_eigen_search_result %}
{% include "lighthouse/lapack_eigen/results.html" %}
{% endblock %}


<!-- ########### Advanced search questions: ###########-->
{% block dojango_content_eigen_advancedSearch %}
{% include "lighthouse/lapack_eigen/advancedSearch.html" %}
{% endblock %}


<!-- ########### Keyword search: ###########-->
{% block dojango_content_eigen_keywordSearch %}
{% include "lighthouse/lapack_eigen/keywordSearch.html" %}
{% endblock %}


<!-- ########### Selected routines: ###########-->
{% block dojango_content_eigen_selected_routines %}
{% include "lighthouse/lapack_eigen/selectedRoutines.html" %}
{% endblock %}


<!-- ########### Code Template: ###########-->
{% block dojango_content_eigen_code_template %}
{% include "lighthouse/lapack_eigen/codeTemplate.html" %}
{% endblock %}