{% extends "registration/base.html" %}

{% block title %}Lighthouse login{% endblock %}

{% block content %}
	    <div class="login-card">
		<h1>LOGIN</h1><br>
		<form method="post" action="?next={{ next|default:"/" }}">
		    {% csrf_token %}
		    <input id="id_username" type="text" name="username" placeholder="E-mail Address" />
		    <input id="id_password" type="password" name="password" placeholder="Password"/>
		    {% if form.errors %}
			<div style="color:red; font-weight: bold; text-align:center; padding-top: 10px;">     
			  Invalid e-mail/password!
			</div>
		    {% endif %}
		    <input type="submit" name="login" class="login login-submit" value="Login">
		    <div id="buttondiv">
			{% if next %}
			    <input type="hidden" name="next" value="{{ next }}" />
			{% else %}
			    <input type="hidden" name="next" value="{% url lapack_le %}" />
			{% endif %}
		    </div>
		</form>
		<div class="login-help">
		    <a href="{% url registration_register %}">Register</a>
		    <span style="color: grey;">&#9830</span>
		    <a href="{% url auth_password_reset %}">Forgot Password</a>
		</div>
		</br>
		<div>
		    <button type="button" class="try-out" onclick="window.location = '/index/'" >
			    Try out as a guest
		    </button>			
		</div>
	    </div>
{% endblock %}
