{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lighthouse Taxonomy</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href={%static "style/default.css" %} rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="logo">
	<h1>Lighthouse <span>Taxonomy</span></h1>
	<h2>A framework that is built upon and improves existing collections of numerical software with
			adding tools for the tuning of matrix algebra computations</h2>
    </div>
    <div id="menu">
	<ul>
	    <li><a href="http://www.free-css.com/">About</a></li>
	    <li><a href="http://www.free-css.com/">Forum</a></li>
	    <li><a href="http://www.free-css.com/">Blog</a></li>
	    <li><a href="http://www.free-css.com/">Contact</a></li>
	</ul>
    </div>
    <div id="content">
	<div id="sidebar">
	    <div class="login-card">
		<h1>LOGIN</h1><br>
		<form method="post" action="?next={{ next|default:"/" }}">
		    {% csrf_token %}
		    <input id="id_username" type="text" name="username" placeholder="E-mail Address" /></td></tr>
		    <input id="id_password" type="password" name="password" placeholder="Password"/></td></tr>
		    {% if form.errors %}
			<div style="color:red; font-weight: bold; text-align:center; padding-top: 10px;">     
			  Invalid e-mail/password!
			</div>
		    {% endif %}
		    <input type="submit" name="login" class="login login-submit" value="Login">
		    <div id="buttondiv">
			{% if next %}
			    <input type="hidden" name="next" value="{{ next }}" />
			{% else %}
			    <input type="hidden" name="next" value="{% url lapack_le %}" />
			{% endif %}
		    </div>
		</form>
		<div class="login-help">
		    <a href="{% url registration_register %}">Register</a>
		    <span style="color: grey;">&#9830</span>
		    <a href="{% url auth_password_reset %}">Forgot Password</a>
		</div>
		</br>
		<div>
		    <button type="button" class="try-out" onclick="window.location = '/lapack_le/'" >
			    Try out as a guest
		    </button>			
		</div>
	    </div>
	</div>
    </div>
    <div id="footer">
      <p id="legal">Copyright &copy; 2014 The Lighthouse Taxonomy. All Rights Reserved.</p>
      <p id="links"><a href="http://www.free-css.com/">Privacy Policy</a> | <a href="http://www.free-css.com/">Terms of Use</a></p>
    </div>
</body>
</html>
