{% extends "dojango/base.html" %}



{% block dojango_content_questions %}
<h2 align="center"><font color="orange">Advanced Search</font></h2>

<p><b>Please select the function(s) that you'd like to execute.</b></p>

<form name="advanced" action="/advanced/result/" name="frmProb" method="get">
<TABLE id='ver-zebra'>

<!-- Colgroup -->
<colgroup>
	<col class="vzebra-odd">
	<col class="vzebra-even">
	<col class="vzebra-odd">
	<col class="vzebra-even">
</colgroup>

<!-- Table Header -->
<thead>
<tr>
<th scope="col"><b>Routine Category</b></th>
<th><b>Simple Driver Routines</b></th>
<th><b>Computational Routines</b></th>
<th><b>Expert Driver Routines</b></th>
</tr>
</thead>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Description</b></font></td>
<td>Solve a system of linear equations</td>
<td>Perform various computational tasks</td>
<td>Solve a system of linear equations <ul>
<li><label for="id_advanced_38"><input type="radio" name="advanced" value="expert notes original" id="id_advanced_38" /> AX = B</label></li> 
<li><label for="id_advanced_39"><input type="radio" name="advanced" value="expert notes transpose" id="id_advanced_39" /> A<sup>T</sup>X = B</label></li>
<li><label for="id_advanced_40"><input type="radio" name="advanced" value="expert notes Hermitian_trans" id="id_advanced_40" /> A<sup>H</sup>X = B</label></li></ul> 
<i>PLUS</i></td>
</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Function</b></font></td>
<td>AX = B</td>
<td><dl><dt><label for="id_advanced_13"><input type="checkbox" name="advanced" value="factor" id="id_advanced_13" /> Factor a matrix (PA = LU)</label></dt>
<dt><label for="id_advanced_14"><input type="checkbox" name="advanced" value="error bounds" id="id_advanced_14" /> Compute forward or backward error bounds for the solution to a linear system</label></dt>
<dt><label for="id_advanced_15"><input type="checkbox" name="advanced" value="refine" id="id_advanced_15" /> Refine the solution to a linear system</label></dt>
<dt><label for="id_advanced_16"><input type="checkbox" name="advanced" value="condition number" id="id_advanced_16" /> Estimate the condition number of a matrix</label></dt>
<dt><label for="id_advanced_17"><input type="checkbox" name="advanced" value="equilibrate" id="id_advanced_17" /> Equilibrate a matrix</label></dt>
<dt><label for="id_advanced_18"><input type="checkbox" name="advanced" value="inverse" id="id_advanced_18" /> Invert a matrix using provided factors (P, L, U)</label></dt>
<dt><label for="id_advanced_19"><input type="checkbox" name="advanced" value="solve" id="id_advanced_19" /> Solve a linear system using provided factors (P, L, U)</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_34"><input type="checkbox" name="advanced" value="expert notes condition number" id="id_advanced_34" /> estimate the matrix condition number</label></li>
<dt><label for="id_advanced_35"><input type="checkbox" name="advanced" value="expert notes error bound" id="id_advanced_35" /> compute error bounds for the solution</label></dt>
<dt><label for="id_advanced_36"><input type="checkbox" name="advanced" value="expert notes refine" id="id_advanced_36" /> refine the solution</label></dt>
<dt><label for="id_advanced_37"><input type="checkbox" name="advanced" value="expert notes equilibrate" id="id_advanced_37" /> equilibrate the matrix</label></dt></dl></td>
</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Complex Numbers</b></font></td>
<td><dl><dt><label for="id_advanced_0"><input type="checkbox" name="advanced" value="simple complex yes" id="id_advanced_0" /> Yes</label></dt>
<dt><label for="id_advanced_1"><input type="checkbox" name="advanced" value="simple complex no" id="id_advanced_1" /> No</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_20"><input type="checkbox" name="advanced" value="computational complex yes" id="id_advanced_20" /> Yes</label></dt>
<dt><label for="id_advanced_21"><input type="checkbox" name="advanced" value="computational complex no" id="id_advanced_21" /> No</label></dt><dl></td>
<td><dl><dt><label for="id_advanced_41"><input type="checkbox" name="advanced" value="expert complex yes" id="id_advanced_41" /> Yes</label></dt>
<dt><label for="id_advanced_42"><input type="checkbox" name="advanced" value="expert complex no" id="id_advanced_42" /> No</label></dt></dl></td>
</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Matrix Type</b></font></td>
<td><dl><dt><label for="id_advanced_2"><input type="checkbox" name="advanced" value="simple matrix general" id="id_advanced_2" /> General</label></dt>
<dt><label for="id_advanced_3"><input type="checkbox" name="advanced" value="simple matrix symmetric" id="id_advanced_3" /> Symmetric</label></dt>
<dt><label for="id_advanced_4"><input type="checkbox" name="advanced" value="simple matrix SPD" id="id_advanced_4" /> SPD</label></dt>
<dt><label for="id_advanced_5"><input type="checkbox" name="advanced" value="simple matrix Hermitian" id="id_advanced_5" /> Hermitian</label></dt>
<dt><label for="id_advanced_6"><input type="checkbox" name="advanced" value="simple matrix HPD" id="id_advanced_6" /> HPD</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_22"><input type="checkbox" name="advanced" value="computational matrix general" id="id_advanced_22" /> General</label></dt>
<dt><label for="id_advanced_23"><input type="checkbox" name="advanced" value="computational matrix symmetric" id="id_advanced_23" /> Symmetric</label></dt>
<dt><label for="id_advanced_24"><input type="checkbox" name="advanced" value="computational matrix SPD" id="id_advanced_24" /> SPD</label></dt>
<dt><label for="id_advanced_25"><input type="checkbox" name="advanced" value="computational matrix Hermitian" id="id_advanced_25" /> Hermitian</label></dt>
<dt><label for="id_advanced_26"><input type="checkbox" name="advanced" value="computational matrix HPD" id="id_advanced_26" /> HPD</label></dt>
<dt><label for="id_advanced_27"><input type="checkbox" name="advanced" value="computational matrix triangular" id="id_advanced_27" /> Triangular</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_43"><input type="checkbox" name="advanced" value="expert matrix general" id="id_advanced_43" /> General</label></dt>
<dt><label for="id_advanced_44"><input type="checkbox" name="advanced" value="expert matrix symmetric" id="id_advanced_44" /> Symmetric</label></dt>
<dt><label for="id_advanced_45"><input type="checkbox" name="advanced" value="expert matrix SPD" id="id_advanced_45" /> SPD</label></dt>
<dt><label for="id_advanced_46"><input type="checkbox" name="advanced" value="expert matrix Hermitian" id="id_advanced_46" /> Hermitian</label></dt>
<dt><label for="id_advanced_47"><input type="checkbox" name="advanced" value="expert matrix HPD" id="id_advanced_47" /> HPD</label></dt></dl></td>
</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Matrix Structure</b></font></td>
<td><dl><dt><label for="id_advanced_7"><input type="checkbox" name="advanced" value="simple structure full" id="id_advanced_7" /> Full</label></dt>
<dt><label for="id_advanced_8"><input type="checkbox" name="advanced" value="simple structure banded" id="id_advanced_8" /> Banded</label></dt>
<dt><label for="id_advanced_9"><input type="checkbox" name="advanced" value="simple structure packed" id="id_advanced_9" /> Packed</label></dt>
<dt><label for="id_advanced_10"><input type="checkbox" name="advanced" value="simple structure tridiagonal" id="id_advanced_10" /> Tridiagonal</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_28"><input type="checkbox" name="advanced" value="computational structure full" id="id_advanced_28" /> Full</label></dt>
<dt><label for="id_advanced_29"><input type="checkbox" name="advanced" value="computational structure banded" id="id_advanced_29" /> Banded</label></dt>
<dt><label for="id_advanced_30"><input type="checkbox" name="advanced" value="computational structure packed" id="id_advanced_30" /> Packed</label></dt>
<dt><label for="id_advanced_31"><input type="checkbox" name="advanced" value="computational structure tridiagonal" id="id_advanced_31" /> Tridiagonal</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_48"><input type="checkbox" name="advanced" value="expert structure full" id="id_advanced_48" /> Full</label></dt>
<dt><label for="id_advanced_49"><input type="checkbox" name="advanced" value="expert structure banded" id="id_advanced_49" /> Banded</label></dt>
<dt><label for="id_advanced_50"><input type="checkbox" name="advanced" value="expert structure packed" id="id_advanced_50" /> Packed</label></dt>
<dt><label for="id_advanced_51"><input type="checkbox" name="advanced" value="expert structure tridiagonal" id="id_advanced_51" /> Tridiagonal</label></dt></dl></td>
</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Precision</b></font></td>
<td><dl><dt><label for="id_advanced_11"><input type="checkbox" name="advanced" value="simple precision single" id="id_advanced_11" /> Single</label></dt>
<dt><label for="id_advanced_12"><input type="checkbox" name="advanced" value="simple precision double" id="id_advanced_12" /> Double</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_32"><input type="checkbox" name="advanced" value="computational precision single" id="id_advanced_32" /> Single</label></dt>
<dt><label for="id_advanced_33"><input type="checkbox" name="advanced" value="computational precision double" id="id_advanced_33" /> Double</label></dt></dl></td>
<td><dl><dt><label for="id_advanced_52"><input type="checkbox" name="advanced" value="expert precision single" id="id_advanced_52" /> Single</label></dt>
<dt><label for="id_advanced_53"><input type="checkbox" name="advanced" value="expert precision double" id="id_advanced_53" /> Double</label></dt></dl></td>
</tr>
</TABLE>

{% comment %}
	{{ form.as_ul }}
{% endcomment %}


<TABLE align="right">
<TR>
<TD>
	<button dojoType="dijit.form.Button" type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button >
</form>
</TD>
<TD>
<form action="/search-advanced/">
	<button dojoType="dijit.form.Button" type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
</TD>
</TR>
</TABLE>

<!-- ########################################################################################################## -->

{% endblock %}
