<!-- ########### Advanced search questions: ###########-->

<h2 align="center"><font color="orange">Advanced Search</font></h2>

<form name="advanced" action="/advanced/form/" name="frmProb" method="get">
<tr><th><label for="id_advanced_0">Which of the following routine categories would you like to search?</label></th><td><ul>
<li><label for="id_advanced_0"><input type="checkbox" name="advanced" value="Computational LinearEquation_computationalForm" id="id_advanced_0" /> Computational Routines</label></li>
<li><label for="id_advanced_1"><input type="checkbox" name="advanced" value="Driver LinearEquation_simpleForm" id="id_advanced_1" /> Simple Driver Routines</label></li>
<li><label for="id_advanced_2"><input type="checkbox" name="advanced" value="Driver LinearEquation_expertForm" id="id_advanced_2" /> Expert Driver Routines</label></li>
</ul></td></tr>


<TABLE align="right">
<TR>
<TD>
	<button type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button >
</form>
</TD>
<TD>
<form action="/index/">
	<button type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
</TD>
</TR>
</TABLE>

