<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Lighthouse Forum{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/forumstyle.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true">
    </script>
    <script type="text/javascript">
	{% include "forum/js_functions.js" %}
    </script>
</head>

<body id="wordpress-org" class="claro" background="">
    <div id="header">
	<h1>Lighthouse Forum</h1>
	</br></br></br>
	{% block nav-global %}
	<ul>
	    <li><a href="/index/">Home</a></li>
	    <li><a href="{% url blogindex %}">Blog</a></li>
	    <li><a href="{% url forumList %}">Forum</a></li>
	    <li><a href="{% url lapack_le %}">Lapack</a></li>
	    {% if user.is_staff %}
	    <li><a href="{% url admin:index %}">Admin</a></li>
	    <li><a href="{% url admin:blog_post_add %}">Add post</a></li>
	    <li><a href="{% url admin:forum_forum_add %}">Add forum</a></li>
	    {% endif %}
	</ul>
	<div id="layoutdims">
	    <form method="get" action="{% url forumSearch %}">
	    <table align="center" border="0" width=60%>
		<tr>
			<th><label for="id_q">Search:</label></th>
			<td colspan="2" align="center"><input style="width: 400px; padding: 3px" type="text" name="q" id="id_q" /></td>
			<td><input type="submit" value="Search" onclick="return searchbutcheck_onclick()"></td>
		</tr>
	    </table>
	    </form>
	</div>
	{% endblock %}
    </div>
    <div class="colmask rightmenu">
	    <div class="colleft">
		    <div class="col1">
			    <!-- Column 1 start -->
			    {% block content %}{% endblock %}
			    <!-- Column 1 end -->
		    </div>
		    <div class="col2">
			    <!-- Column 2 start -->
			    {% block sidebar %}
			    {% endblock %}
			    <!-- Column 2 end -->
		    </div>
	    </div>
    </div>
    <div id="footer">
	    {% if user.is_staff %}
		<p>{{ user }}</p>
	    {% else %}
		<p>Lighthouse</p>
	    {% endif %}
    </div>

</body>
</html>
