{% extends "forum/fbase.html" %}

{% block content %}
<div>
    <table id="box-table-a" width=80%>
        <tr>
            <th>
                <p style="text-align:center">
                    {{ thread.title }}</br>
                    <span style="font-family:verdana;color:grey;font-size:10px;" id="{{ thread.created }}">
                        by {{ thread.creator }} | {{ thread.created }}</span>
                </p>
                <div STYLE="font-size: 12px; font-weight:lighter"> {{ thread.body }} </div>
            </th>
        </tr>
        {% for post in posts.object_list %}
        <tr>
            <td>
                {{ post.title }}<br/>
                <span style="font-family:verdana;color:grey;font-size:10px;" id="{{ post.created }}">&nbsp &nbsp &nbsp by {{ post.creator }} | {{ post.created }}</span>
                </br></br>
                {{ post.body }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <table width=80%>
        <tr><td align="right"><a style="text-decoration: none" href="{% url forum.views.post 'reply' pk %}">Reply</a></td></tr>
    </table>
</div>

<!-- Next/Prev page links -->
<!--{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination" style="text-align:center;">
    <span class="step-links">
        {% if posts.has_previous %}
            <a style="text-decoration: none" href= "?page={{ posts.previous_page_number }}">older entries &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a style="text-decoration: none" href="?page={{ posts.next_page_number }}"> &gt;&gt; newer entries</a>
        {% endif %}
    </span>
</div>
{% endif %}-->
<!-- END Next/Prev page links -->

{% endblock %}