{% extends "forum/fbase.html" %}

{% block content %}
<div>
    <table id="box-table-a" width=80%>
        <tr>
            <th align="center">{{ posts.object_list.0.title }}</th>
        </tr>
        {% for post in posts.object_list|slice:"1:" %}
        <tr>
            <td>
                {{ post.title }}<br/>
                <span style="font-family:verdana;color:grey;font-size:10px;">by {{ post.creator }} | {{ post.created }}</span></br></br>
                {{ post.body }}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

<!-- Next/Prev page links
    ...
-->

<a class="button" href="{% url forum.views.post 'reply' pk %}">Reply</a>

{% endblock %}