{% load static from staticfiles %}

<div id="title-div">
  <table id="icon-table">
    <tr>
      <td id="icon-cell">
        <img src={%static "images/guidedSearch.png" %} width="32" height="32"/>
      </td>
      <td id="title-cell">
        Guided Search
      </td>
    </tr>
  </table>
</div>
<br>

{% include "lighthouse/lapack_eigen/guided/answered.html" %}



{% if form %}	<!--This is to prevent the empty box at the end of the search.-->
<form action="/lapack_eigen/guidedSearch/" name="frmType" method="get">
<div id="question-div">
  <!--if formHTML = 'invalid', use form; otherwise, use the HTML file in lighthouse/lapack_eigen/guided/-->
  {% if formHTML == 'invalid'  %}
    {{ form }}
  {% else %}  
    {% with template_name=formHTML|stringformat:"s"|add:".html" %}
        {% include "lighthouse/lapack_eigen/guided/"|add:template_name %}
        <br>
    {% endwith %}
  {% endif %}  
</div>
{% endif %}
<br>
  
  
<div id="button-div">
  <table style="width:100%; margin: 0px auto;">
    <tr style="width:100%;">
    {% if not form %}
      <td style="text-align:left">
	      <img src={%static "images/face-smile-2.png" %} width="20" height="20"/>
      </td>
      <td style="text-align:left; color: #0c387e;">
	      <b>End of guided search! Check out the result.</b>
      </td>
      <td style="text-align:right; width: 75px;">
        <div id="tooltip"></div>
      </td>       
      <td style="text-align:right">
        <button type="button" name="clear" id="clearButton" class="myButton" title="Clear Search"
                onmouseover="showTooltip('tooltip', 'Clear Search','#cc0000');"
                onmouseout="showTooltip('tooltip','');"
                onclick="show_confirm('/lapack_eigen/')">
              <img src={%static "images/clear.png" %} width="16" height="16"/> 
        </button>      
      </td>
    {% else %}
      <td style="text-align:left;">       
        <button type="button" name="clear" id="clearButton" class="myButton" title="Clear Search"
                onmouseover="showTooltip('tooltip', 'Clear Search','#cc0000');"
                onmouseout="showTooltip('tooltip','');"
                onclick="show_confirm('/lapack_eigen/')">
            <img src={%static "images/clear.png" %} width="16" height="16"/> 
        </button>       
      </td>
      <td style="text-align:center;">
        <div id="tooltip"></div>
      </td>
      <td style="text-align:right;">
        <button type="submit" name="guided" value="submit" id="submitButton" title="Submit Answer" class="myButton"
                onmouseover="showTooltip('tooltip', 'Submit', '#009900');"
                onmouseout="showTooltip('tooltip','');"
                onclick="checkRadios();">
            <img src={%static "images/dialog-ok-4.png" %} width="16" height="16"/>
        </button >
      </td>
    {% endif %}
    </tr>
  </table>
</div>
</form>