{% extends "dojango/base.html" %}


<!-- ########### Simple search questions: ###########-->
{% block dojango_content_simpleSearch %}
{% include "lapack/simpleSearch.html" %}
{% endblock %}


<!-- ########### Simple search result: ###########-->
{% block dojango_content_search_result %}
{% include "lapack/simpleResult.html" %}
{% endblock %}


<!-- ########### Advanced search questions: ###########-->
{% block dojango_content_advancedSearch %}
{% include "lapack/advancedSearch.html" %}
{% endblock %}


<!-- ########### Keyword search: ###########-->
{% block dojango_content_keywordSearch %}
{% include "lapack/keywordSearch.html" %}
{% endblock %}


<!-- ########### Selected routines: ###########-->
{% block dojango_content_selected_routines %}
{% include "lapack/selectedRoutines.html" %}
{% endblock %}


<!-- ########### Code Template: ###########-->
{% block dojango_content_code_template %}
{% include "lapack/codeTemplate.html" %}
{% endblock %}

<!-- ########### Script Area: ###########-->
{% block dojango_content_script %}
{% include "lapack/script.html" %}
{% endblock %}