<div id="selectedRoutines">
	<form>
		<div id="">
			<table align="right">
				<tr>
					<td>
						<button data-dojo-type="dijit.form.Button" type="button"
							onclick="generateTemp();">
							Generate Template
						</button >
					</td>
					<td>
						<button data-dojo-type="dijit.form.Button" type="button"
							onclick="clearAll();">
							Clear
						</button>
					 </td>
				</tr>
			    </table>
		</div>
		<h2>Drop selected routines below:</h2>
		<ul id="selectedListNode" class="container2"></ul>
				<div id="">
			<table align="right">
				<tr>
					<td>
						<button data-dojo-type="dijit.form.Button" type="button"
							onclick="generateTemp();">
							Generate Template
						</button >
					</td>
					<td>
						<button data-dojo-type="dijit.form.Button" type="button"
							onclick="clearAll();">
							Clear
						</button>
					 </td>
				</tr>
			    </table>
		</div>
	</form>
	
</div>