<!-- ########### Advanced search questions: ###########-->

<div id="title-div">
    <table id="icon-table">
        <tr>
            <td id="icon-cell">
                <img src="{{ MEDIA_URL }}Images/advancedSearch.png" width="32" height="32"/>
            </td>       
           <td id="title-cell">
                Advanced Search
            </td>
        </tr>
    </table>    
</div>
<br>

<form name="advanced" action="/search/advanced/form/" name="frmProb" method="post">
	{% csrf_token %}
    <div id="question-div">
        <tr>
            <th>
                <label for="id_advanced_0">
                    <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
                    <b>Which of the following routine categories would you like to search?</b>
                </label>
            </th>
            <td>
                <ul>
                    <li>
                        <label for="id_advanced_0">
                            <input type="checkbox" name="advanced" value="Computational LinearEquation_computationalForm" 
                            id="id_advanced_0" /> 
                            Computational Routines
                        </label>
                    </li>
                    <li>
                        <label for="id_advanced_1">
                            <input type="checkbox" name="advanced" value="Driver LinearEquation_simpleForm" 
                            id="id_advanced_1" /> 
                            Simple Driver Routines
                        </label>
                    </li>
                    <li>
                        <label for="id_advanced_2">
                            <input type="checkbox" name="advanced" value="Driver LinearEquation_expertForm" 
                            id="id_advanced_2" /> 
                            Expert Driver Routines
                        </label>
                    </li>
                </ul>
            </td>
        </tr>
    </div>
<br>
<div id="button-div">
    <table align="right">
        <tr>
            <td>
                <button type="submit" name="Submit" id="submitButton" title="Submit Answer" onclick="return validateAdvancedCategoryCheckbox(id_advanced_0, id_advanced_1, id_advanced_2)">
                    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
                </button></form>
            </td>
            <td>
                <form action="/search/">
                    <button type="submit" name="clear" id="clearButton" title="Restart Search">
                        <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>


