{% extends "dojango/base.html" %}

<!-- ########### Simple search: ###########-->
{% block dojango_content_simpleSearch %}
{% include "search/simpleSearch.html" %} 
{% endblock %}


<!-- ########### Advanced search: ###########-->
{% block dojango_content_advancedSearch %}
{% include "search/advancedSearch.html" %}
{% endblock %}


<!-- ########### Keyword search: ###########-->
{% block dojango_content_keywordSearch %}
{% include "search/keywordSearch.html" %}
{% endblock %}


<!-- ########### Selected Routines: ###########-->
{% block dojango_content_selected_routines %}
{% include "search/selectedRoutines.html" %}
{% endblock %}


<!-- ########### Code Template: ###########-->
{% block dojango_content_code_template %}
{% include "search/codeTemplate.html" %}
{% endblock %}


<!-- ########### Script Area: ###########-->
{% block dojango_content_script %}
{% include "search/script.html" %}
{% endblock %}

