<!-- ########### Keyword search result: ###########-->
{% extends "dojango/base.html" %}
{% load highlight %}
{% block dojango_content_search_result %}

<div id="title-div">
	<table style="width: 100%; border: 0px solid;">
		<tr>
			<td style="text-align:left; padding-left:5px; width:24px;">
				<img src="{{ MEDIA_URL }}Images/edit-find-10.png" width="32" height="32"/>
			</td>		
			<td style="text-align:left">
				{% if results %}
					Lighthouse found <u>{{ results|length }}</u> routine{{ results|pluralize }} for you:
				{% else %}
					Your search - '{{ keywords }}' - did not match any routine.
				{% endif %} 
			</td>
		</tr>
	</table>	
</div>

{% if results %}
<ul id="routineListNode" class="container">	
	{% for item in results %}
	<li class="dojoDndItem" id="sel_{{ item.thePrecision|upper }}{{ item.routineName|upper }}"
	    detail="{{ item.thePrecision }}_{{ item.routineName }}_{{ item.matrixType }}_{{ item.storageType }}_{{ item.id }}_{{ item.url }}" style="list-style-type: none;">
		<div class="routineName">
			<table>
				<tr id="trd_{{ item.thePrecision|upper }}{{ item.routineName|upper }}">
					<td class="infoHelpButton">
						<input type="checkbox" name="" value="{{ item.thePrecision|upper }}{{ item.routineName|upper }}" id="cbd_{{ item.thePrecision|upper }}{{ item.routineName|upper }}" onclick="checkChanged('{{ item.thePrecision|upper }}{{ item.routineName|upper }}',selectedRoutine_session, 'droppedRoutine');"/>
					</td>
					<td style="width: 56px; padding-left: 1px;">
						{{ item.thePrecision|upper }}{{ item.routineName|upper }}
					</td>
					<td class="infoHelpButton">
						<img src="{{ MEDIA_URL }}Images/question.png" width="16" height="16" onclick="dijit.byId('sel_{{ item.id }}').show()"/>	
					</td>												
				</tr>
			</table>			
		</div>
		<div class="routineInfo" style="margin-bottom: 15px;">{% highlight item.info with "{{ item.thePrecision|upper }}{{ item.routineName|upper }}" max_length 500 %}
			<button onclick="dijit.byId('sel_{{ item.id }}').show()">more</button>
		</div>
		<div class="dijitHidden">
			<div id="sel_{{ item.id }}" dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}">
				<div align="center">
					<table id="table_main" width="80%" border = "1">
						<tr>
						<th>Precision</th>
						<th>Routine Name</th>
						<th>Matrix Type</th>
						<th>Storage</th>
						</tr>
						<tr>
						<td>{{ item.thePrecision|upper }}</td>
						<td>{{ item.routineName|upper }}</td> 
						<td>{{ item.matrixType }}</td> 
						<td>{{ item.storageType }}</td>      
						</tr>
					</table><br/>
					<iframe src="{{ item.url }}" width="640px" height="400px"></iframe><br/></br> 
					<button onClick="dijit.byId('sel_{{ item.id }}').hide()">Close</button>
				</div>
			</div>
		</div>		
	</li> 

{% empty %}
{% endfor %}

</ul>
{% endif %} 

{% endblock %}

<!-- ########### Simple search questions: ###########-->
{% block dojango_content_simpleSearch %}
{% include "search/simpleSearch.html" %}
{% endblock %}


<!-- ########### Keyword search: ###########-->
{% block dojango_content_keywordSearch %}
{% include "search/keywordSearch.html" %}
{% endblock %}

<!-- ########### Keyword search: ###########-->
{% block dojango_content_advancedSearch %}
{% include "search/advancedSearch.html" %}
{% endblock %}


<!-- ########### Selected Routines: ###########-->
{% block dojango_content_selected_routines %}
{% include "search/selectedRoutines.html" %}
{% endblock %}

