{% extends "dojango/base.html" %}


{% block dojango_content_simpleSearch %}
<div id="title-div">
    <table id="icon-table">
        <tr>
            <td id="icon-cell">
                <img src="{{ MEDIA_URL }}Images/guidedSearch.png" width="32" height="32"/>
            </td>       
            <td id="title-cell">
                Guided Search
            </td>
        </tr>
    </table>    
</div>
<br>



<!-- ### Questions 1 answered ###-->
<tr>
    <th>
        <label for="id_question_prob">
            <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
            <b> Which of the following functions do you wish to execute?</b>
        </label>
    </th>
{% for item in query_prob %} 
    <ul style="margin-left: 0; padding-left: 20px;">
        <li style="list-style-type: none; padding-left:-10px;">
            <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="8" height="8"/> 
            {{ item.1 }}
        </li>
    </ul>
{% endfor %}
     

<!-- ### Questions2: Are there complex numbers in your matrix? ###-->

{% if Action == '/search/guided/problem_complex/' %}
<form action= {{ Action }} name="frmComp" method="post">
  	{% csrf_token %}
    <div id="question-div">
        {{ form.as_ul }}        
    </div>

	
	
<!-- ### OR Questions2: What form of the linear system do you want to solve? ### -->
{% else %}
<form id=="frmEqua" action= {{ Action }} name="frmEqua" method="post">
  	{% csrf_token %}
   <div id="question-div">
    <label for="id_question_equa_0">
        <ul style="padding-left: 20px; margin:0;">
            <li >
                What form of the linear system do you want to solve?
            </li>
        </ul>
    </label>
    
    <ul>
	{% for choice in form.question_equa.field.choices %}
	   <li>
        <input type="radio" name="question_equa" value="{{choice.0}}"
	    <label for=""> {{choice.1|safe}}</label>
	  </li>
	{% endfor %}
	</ul>
    </div>
{% endif %} 

<br>

<div id="button-div">
    <table align="right">
	<tr>
		<td>
			<button type="submit" name="Submit" id="submitButton" title="Submit Answer">
			    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
			</button >
</form>
		</td>
		<td>
			<form action="/search/">
				<button type="submit" name="clear" id="clearButton" title="Restart Search" onclick="return show_confirm()">
				    <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
				</button>
			</form>
		 </td>
	</tr>
    </table>
</div>
{% endblock %}

<!-- ########################################################################################################## -->


<!-- ########### Simple search result: ###########-->
{% block dojango_content_search_result %}
{% include "search/simpleResult.html" %}
{% endblock %}


<!-- ########### Advanced search questions: ###########-->
{% block dojango_content_advancedSearch %}
{% include "search/advancedSearch.html" %}
{% endblock %}



<!-- ########### Selected routines: ###########-->
{% block dojango_content_selected_routines %}
{% include "search/selectedRoutines.html" %}
{% endblock %}
