<script type="text/javascript">
	var selectedRoutine_session = [];
</script>

<div id="selectedRoutines">
	<form>
		<!--Dropped-items area-->
		<ul id="selectedListNode" class="container2" style="border: 1px solid #444; background: #eee; padding-bottom:30px; padding-left:30px; background-image: url(/media/Images/dropRoutine.png); background-repeat: no-repeat; background-position:top; padding-top: 40px;">
		</ul>
		
		<!--load request.session["selectedRoutines]-->
		{% if selectedRoutines %}
		<ul id="sel_routineListNode" class="container2" style="border: 1px solid #444; background: #eee; padding-bottom:12px; padding-left:30px;">	
		{% for item in selectedRoutines %}
			<!--generate the selectedRoutine_session array for code generation for the case of no dnd action-->
			<script type="text/javascript">
				selectedRoutine_session.push('{{ item.thePrecision }}'+'{{ item.routineName }}');				
			</script>

			<li class="sel_dojoDndItem" id="sel_{{ item.thePrecision|upper }}{{ item.routineName|upper }}" style="list-style-type: none;">
				<div class="routineName">
					<table>
						<tr id="trs_{{ item.thePrecision|upper }}{{ item.routineName|upper }}">
							<td style="font-weight: bold; width: 70px;">
								<input type="checkbox" name="" checked="checked" value="{{ item.thePrecision|upper }}{{ item.routineName|upper }}" id="cbs_{{ item.thePrecision|upper }}{{ item.routineName|upper }}" onclick="checkChanged('{{ item.thePrecision|upper }}{{ item.routineName|upper }}',selectedRoutine_session, 'selectedRoutine');"/> {{ item.thePrecision|upper }}{{ item.routineName|upper }}
							</td>
							<td>						
								<img src="{{ MEDIA_URL }}Images/question.png" width="16" height="16" onclick="dijit.byId('sel_{{ item.id }}').show()"/>	
							</td>														
						</tr>
					</table>											
				</div>
				<div class="dijitHidden">
					<div id="sel_{{ item.id }}" dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}">
						<div align="center">
							<table id="table_main" width="80%" border = "1">
								<tr>
								<th>Precision</th>
								<th>Routine Name</th>
								<th>Matrix Type</th>
								<th>Storage</th>
								</tr>
								<tr>
								<td>{{ item.thePrecision|upper }}</td>
								<td>{{ item.routineName|upper }}</td> 
								<td>{{ item.matrixType }}</td> 
								<td>{{ item.storageType }}</td>      
								</tr>
							</table><br/>
							<iframe src="{{ item.url }}" width="640px" height="400px"></iframe><br/></br> 
							<button onClick="dijit.byId('sel_{{ item.id }}').hide()">Close</button>
						</div>
					</div>
				</div>					
			</li>
		{% endfor %}
		</ul>
		{% endif %}	

		<div id="button-div">
		    <table style="width:100%; margin: 0px auto;">
				<tr style="width:100%;">
					<td style="text-align:left;">								
						<button type="button" onclick="clearAllRoutines(); selectedRoutine_session.length = 0; selectedRoutineNames.length = 0;">
							Clear all
						</button>
					</td>
					<td style="text-align:left;">								
						<button type="button" onclick="clearSelectedRoutines(selectedRoutine_session);">
							Clear Selected
						</button>
					</td>
					<td style="text-align:right;">
						<button type="button" onclick="Dajaxice.Driver.createTemplate(Dajax.process, {'selectedRoutine_ajax': selectedRoutine_session, 'selectedRoutine_session': selectedRoutine_session});">
							Generate Template
						</button>
					</td>				
				</tr>
		    </table>
		</div>

	</form>
</div>

