<!--<script type="text/javascript">
	dojo.ready(function(){
		/* retrieve cookie("nameList") and generate list items */
		if (dojo.cookie("nameList") != null){
			nameList = dojo.cookie("nameList");
			nameArray = nameList.split(',');
			/* create a new array in which no elements are duplicated */
			unique = nameArray.unique();
			dojo.cookie("nameList", unique);
			//console.log("unique: ", dojo.cookie("nameList"));


			for (k=0; k<unique.length; k++){
				var detail = dojo.cookie(unique[k]);
				dojo.create("li",
					{
						id: unique[k],
						class: "dojoDndItem dojoDndItemAnchor",
						innerHTML: dojo.byId(unique[k]).innerHTML
					},
					dojo.byId("selectedListNode"));
				//console.log(dojo.byId(unique[k]).innerHTML);
			}
		};
	});
	
</script>-->



<div id="selectedRoutines">
	<form>
		<!--load request.session["selectedRoutines]-->
		<ul id="sel_routineListNode" class="container2" style="border: 1px solid #444; background: #eee; padding-bottom:30px; padding-left:30px;">	
		{% for item in test %}
			<li class="dojoDndItem" id="sel_{{ item.thePrecision|upper }}{{ item.routineName|upper }}">
				<div class="routineName">
					<h4>{{ item.thePrecision|upper }}{{ item.routineName|upper }}
						<span class="">
							<button dojoType="dijit.form.Button" baseClass="acmeButton" onclick="dijit.byId('sel_{{ item.id }}').show()">
								<img src="{{ MEDIA_URL }}Images/question.png" width="16" height="16"/>
							</button>
						</span>
					</h4>
				</div>
				<div class="dijitHidden">
					<div id="sel_{{ item.id }}" dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}">
						<div align="center">
							<table id="table_main" width="80%" border = "1">
								<tr>
								<th>Precision</th>
								<th>Routine Name</th>
								<th>Matrix Type</th>
								<th>Storage</th>
								</tr>
								<tr>
								<td>{{ item.thePrecision|upper }}</td>
								<td>{{ item.routineName|upper }}</td> 
								<td>{{ item.matrixType }}</td> 
								<td>{{ item.storageType }}</td>      
								</tr>
							</table><br/>
							<iframe src="{{ item.url }}" width="640px" height="400px"></iframe><br/></br> 
							<button onClick="dijit.byId('sel_{{ item.id }}').hide()">Close</button>
						</div>
					</div>
				</div>
					
			</li>
		{% endfor %}
		</ul>
		
		<!--Dropped-items area-->
		<ul id="selectedListNode" class="container2" style="border: 1px solid #444; background: #eee; padding-bottom:30px; padding-left:30px;">Drop selected routines here:</ul>		

		<div id="button-div">
		    <table align="right">
			<tr>
				<td>
					<button type="button" onclick="generateTemp();">
                            Generate Template
                    </button >
				</td>
				<td>					
					<button type="button" onclick="clearAll();">
                                Clear
                    </button>
				 </td>
			</tr>
		    </table>
		</div>

	</form>
</div>

<!--<script type="text/javascript">
	for (k=0; k<unique.length; k++){
		//var detail = dojo.cookie(unique[k]);
		//dojo.create("li",
		//	{
		//		id: unique[k],
		//		class: "dojoDndItem dojoDndItemAnchor",
		//		innerHTML: dojo.byId(unique[k]).innerHTML
		//	},
		//	dojo.byId("selectedListNode"));
		console.log(dojo.byId(unique[k]).innerHTML);}
</script>-->
