<script type="text/javascript">
	var selectedRoutine_session = [];
	var uncheckedRoutines = [];
</script>

<div id="selectedRoutines">
	<form>
		<!--Dropped-items area-->
		<div style="padding: 10px;">
			<div id="selectedListNode" class="container2" style="border: 1px solid #444; background: #eee; padding-bottom: 15px; padding-left:30px; background-image: url(/media/Images/dropRoutine.png); background-repeat: no-repeat; background-position:top; padding-top: 35px;">

				<div id="sel_routineListNode" class="container2" style="background: #eee; padding: 0px;">
			{% if selectedRoutines %}
			{% for item in selectedRoutines %}
		
				{% if item.checkState == "checked" %}
				<!--generate the selectedRoutine_session array for code generation for the case of no dnd action-->
				<script type="text/javascript">
					selectedRoutine_session.push('{{ item.thePrecision }}'+'{{ item.routineName }}');				
				</script>

				{% endif %}

				{% if item.checkState == "unchecked" %}
				<!--generate the selectedRoutine_session array for code generation for the case of no dnd action-->
				<script type="text/javascript">
					uncheckedRoutines.push('{{ item.thePrecision }}'+'{{ item.routineName }}');				
				</script>

				{% endif %}

				<div class="sel_dojoDndItem" id="sel_{{ item.thePrecision|upper }}{{ item.routineName|upper }}" style="list-style-type: none;">
					<div class="routineName">
						<table id="ts_{{ item.thePrecision|upper }}{{ item.routineName|upper }}">
							<tr id="trs_{{ item.thePrecision|upper }}{{ item.routineName|upper }}">
								<td style="font-weight: bold; width: 70px;">
									<input type="checkbox" name="{{ item.thePrecision|upper }}{{ item.routineName|upper }}" {% if item.checkState == "checked" %} checked="checked" {% endif %} value="{{ item.thePrecision }}_{{ item.routineName }}_{{ item.matrixType }}_{{ item.storageType }}_{{ item.id }}_{{ item.url }}" id="cbs_{{ item.thePrecision|upper }}{{ item.routineName|upper }}" onclick="checkChanged('{{ item.thePrecision|upper }}{{ item.routineName|upper }}', selectedRoutineNames, selectedRoutine_session, uncheckedRoutines, 'selectedRoutine');"/> {{ item.thePrecision|upper }}{{ item.routineName|upper }}
								</td>
								<td>						
									<img src="{{ MEDIA_URL }}Images/question.png" width="16" height="16" onclick="dijit.byId('sel_{{ item.id }}').show()"/>	
								</td>														
							</tr>
						</table>											
					</div>
					<div class="dijitHidden">
						<div id="sel_{{ item.id }}" dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}">
							<div align="center">
								<table id="table_main" width="80%" border = "1">
									<tr>
									<th>Precision</th>
									<th>Routine Name</th>
									<th>Matrix Type</th>
									<th>Storage</th>
									</tr>
									<tr>
									<td>{{ item.thePrecision|upper }}</td>
									<td>{{ item.routineName|upper }}</td> 
									<td>{{ item.matrixType }}</td> 
									<td>{{ item.storageType }}</td>      
									</tr>
								</table><br/>
								<iframe src="{{ item.url }}" width="640px" height="400px"></iframe><br/></br> 
								<button onClick="dijit.byId('sel_{{ item.id }}').hide()">Close</button>
							</div>
						</div>
					</div>					
				</div>
			{% endfor %}
			{% endif %}
			</div>

			</div>
		</div>
		
		<!--load request.session["selectedRoutines]-->

		<div id="button-div">
		    <table style="width:100%; margin: 0px auto;">
				<tr style="width:100%;">					
					<td style="text-align:left;">								
						<select id="selectMenu" onChange="selectMenuChanged();">
					     <option value="1">Select</option>
					     <option value="2">All</option>
					     <option value="3">None</option>					     
					 	</select>
					</td>
					<td style="text-align:left;">								
						<select id="clearMenu" onChange="clearMenuChanged();">
					     <option value="1" selected="selected">Clear</option>
					     <option value="2">Unchecked</option>
					     <option value="3">Checked</option>
					     <option value="4">All</option>					     
					 	</select>
					</td>
					<td style="text-align:right;">
						<select id="generateMenu" onChange="generateMenuChanged();">
					     <option value="1" selected="selected">Generate Template</option>
					     <option value="2">C</option>
					     <option value="3">FORTRAN</option>
					 	</select>
					</td>				
				</tr>
		    </table>
		</div>

	</form>
</div>

