<div id="title-div">
	<table style="width: 100%; border: 0px solid;">
		<tr>
			<td style="text-align:left; padding-left:5px; width:24px;">
				<img src="{{ MEDIA_URL }}Images/edit-find-10.png" width="32" height="32"/>
			</td>		
			<td style="text-align:left">
				Instructions
			</td>
		</tr>
	</table>	
</div>

<div id="question-div-petsc" style="">
	
	<div style="font-weight: bold; padding: 10px; border: 1px solid #ddd; background-color: #efefef;">Step 1: Choosing the right search</div>
	<div style="padding: 10px;"> If you are new to PETSc programming, we would recommend the guided search. If you are an intermediate or expert PETSc programmer use the advanced search. You will find the tabs for guided and advanced search in the upper left area of this page.</div>

	<div style="font-weight: bold; padding: 10px; border: 1px solid #ddd; background-color: #efefef;">Step 2: Provide information</div>
	<div style="padding: 10px;"> If you are using the guided search, answer all the questions and click on the submit button. If you are bewildered by any of the questions, click on the help button next to that question.</div>
	<div style="padding: 10px;"> If you are using the advanced search, select all the appropriate options and click on the submit button.</div>

	<div style="font-weight: bold; padding: 10px; border: 1px solid #ddd; background-color: #efefef;">Step 3: Download code</div>
	<div style="padding: 10px;"> After Lighthouse has prepared your code it will ask you to choose the archive file format. By default Lighthouse will give you a .zip file. You can change the type of archive file. The archive contains 4 files:
	<br><br> 1. a PETSc program written in C
	<br><br> 2. a makefile for compiling the program
	<br><br> 3. a text file with the command line options
	<br><br> 4. a readme file to save you from further bewilderment
	<br><br>		
	You can see the contents of these files without downloading them. The "PETSc Code" tab is located next to the "Instructions" tab (you are reading the contents of the instruction tab right now). You will find the "Makefile" and "Command Line Options" tabs at the bottom right area of the window.
	</div>
</div> 