<!-- ########### Simple search form: ###########-->

{% extends "dojango/base_petsc.html" %}


{% block guidedSearch %}

<div id="title-div">
	<table id="icon-table">
		<tr>
			<td id="icon-cell">
				<img src="{{ MEDIA_URL }}Images/guidedSearch.png" width="32" height="32"/>
			</td>		
			<td id="title-cell">
				PETSc Guided Search
			</td>
		</tr>
	</table>	
</div>

{% if message %}

<div id="question-div-petsc">
	<table id="question">
	<tr>
		<td>			
	        <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
			<b>{{ message }}</b>
		</td>
	</tr>
	</table>
</div>
<div id="button-div">
    <table style="width:100%; margin: 0px auto;">
	<tr style="width:100%;">
		<td style="text-align:left;">				
			<button type="button" name="reset" id="resetbutton" title="Reset" onmouseover="showTooltip('tooltip', 'Reset','#cc0000');" onmouseout="showTooltip('tooltip','');" onclick="window.location = '/petsc/';">
			    <!-- <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> -->
			    Reset
			</button>				
		</td>
		<td style="text-align:center;">
				<div id="tooltip"></div>
		</td>
		<td style="text-align:right;">			
			<button id="download_button" {% if error == "yes" %}disabled="disabled"{% endif %} onmouseover="showTooltip('tooltip', 'Download', '#009900');" onmouseout="showTooltip('tooltip','');" onclick=""; >
				<!--  <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/> -->
				Download
			</button >			
        </td>
	</tr>
	</table>
</div>

{% else %}

<div id="questions">

<div id="question-div-petsc">
	<table id="question">
	<tr>
		<td>			
	        <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
			<b>Which of the following operations do you wish to perform?</b>
		</td>
	</tr>
	</table>

	<table id="option">
	<tr>				
		<td>
			<img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="8" height="8"/>	
			Solve a system of linear equations
		</td>			
	</tr>
	</table>
	<br>
</div>

<!-- ########### Linear system questions and options ###########-->

<form id="main_op"  action="/petsc/linear_system/generateCode/" name="main_op" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
	<div id="question-div-petsc" {% if field.label != "Would you like to upload your matrix?" %}style="display:none;" {% endif %} name="{{field.name}}_div" >
		<table id="question">

		<tr>
			<td>			
		        <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
				<b>{{ field.label }}</b>			
			</td>
			<td>
				<img src="{{ MEDIA_URL }}Images/question.png" width="16" height="16"/>
			</td>
		</tr>

		</table>

		{% for option in field %}
		<table id="option">
		
		<tr>				
			<td>				
				{{ option }}
			</td>				
		</tr>
		</table>
		{% endfor %}
		<br>	
		
	</div>	
	{% endfor %}

	<div id="button-div" style="margin-bottom: 10px; display:none;" name="sub_message">
		<table style="width:100%; padding: 5px 0px 5px 5px;">
			<tr style="width:100%;">
				<td style="text-align:left; font-weight:bold;">
					Please submit the form now.
				</td>
			</tr>
		</table>
	</div>

	<div id="button-div">
	    <table style="width:100%; margin: 0px auto;">
		<tr style="width:100%;">
			<td style="text-align:left;">				
				<button type="button" name="reset" id="resetButton" class="myButton" title="Cancel" onmouseover="showTooltip('tooltip', 'Cancel','#cc0000');" onmouseout="showTooltip('tooltip','');" onclick="return show_confirm()">
			    <!-- <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> -->
			    Reset
				</button>				
			</td>			
			<td style="text-align:center;">
				<div id="tooltip"></div>
			</td>
			
			<td style="text-align:right;">
				<button id="sub_button" class="myButton" disabled="disabled" onmouseover="showTooltip('tooltip', 'Submit', '#009900');" onmouseout="showTooltip('tooltip','');" onclick="return checkAnswers();"; >
				<!--  <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/> -->
				Submit
				</button >
			</td>			
		</tr>
    	</table>
	</div>
</form>

</div>
{% endif %}
{% endblock %}

<!-- ########### Advanced search tab: ###########-->
{% block advancedSearch %}
{% include "lighthouse/petsc_le/advancedSearch.html" %}
{% endblock %}

<!-- ########### Instructions tab ###########-->
{% block instructions %}
{% include "lighthouse/petsc_le/instructions.html" %}
{% endblock %}

<!-- ########### Code tab: ###########-->
{% block code %}
{% include "lighthouse/petsc_le/code.html" %}
{% endblock %}

<!-- ########### Command-line options tab: ###########-->
{% block command_line_options %}
{% include "lighthouse/petsc_le/command_line_options.html" %}
{% endblock %}

<!-- ########### Makefile tab: ###########-->
{% block makefile %}
{% include "lighthouse/petsc_le/makefile.html" %}
{% endblock %}
