{% extends "registration/base.html" %}

{% block title %}Registration complete{% endblock %}

{% block content %}
        <div style="font-size: 16px; color: #FFA500;">
            <h2>Check your email!</h2>
	    <br>
            <p> An activation link along with instructions for activating your account has been sent to the email address you supplied. If you do not receive the message within 24 hours, please check your spam filter or junk mail folder.</p>
        </div>        
    </div>    
{% endblock %}
