{% extends "registration/base.html" %}

{% block title %}Registration registration{% endblock %}

{% block content %}
    </br></br>
    <div id="maindiv">
        <div id="formtitle">
            Registration Form
        </div>
        <form action="." method="post">
        <div id="formdiv">
            {% csrf_token %}
            <table style="margin: 0px auto; width: 300px;">
                {{ form }}
            </table>
        </div>
        <div id="buttondiv">
            <table align="center">
                <tr>
                    <td>
                        <input type="submit" value="Create account" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </td>
                    <td>
                        <form>
                           <input type="submit" value="Reset form" />
                       </form>                       
                    </td>
                </tr>
            </table>
            </br>
            <a href="{% url auth_login %}" style="text-decoration: none">Already a member? Log in!</a>
        </div>
    </div>  
{% endblock %}