<div style="width:100%;">
    <table style="width:100%; border: 0px;">
        <tr>
            <td style="font-size: 13pt;">
                <h3>Introduction</h3>
                <i>From the project <a href="http://ecee.colorado.edu/wpmu/btoblas/">homepage</a></i>:
                <p>
The Build to Order BLAS system is a compiler that generates high-performance implementations of basic linear algebra kernels.
The term BLAS in the name is for Basic Linear Algebra Subprograms. The BLAS is a standard API for important linear algebra operations. The BLAS are implemented by most hardware vendors. Traditionally, each routine in the BLAS is implemented by hand by a highly skilled programmer. The Build to Order BLAS compiler automates the implementation of not only the BLAS standard but also any sequence of basic linear algebra operations.
The user of the Build to Order BLAS compiler writes down a specification for a sequence of matrix and vector operations together with a description of the input and output parameters. The compiler then tries out many different choices of how to implement, optimize, and tune those operations for the user’s computer hardware. The compiler choices the best option, which is output as a C file containing a function that implements the specified operations.
                </p>
                <h3>Papers</h3>
            </td>
        </tr>
    </table>
</div>

