<table><tr>
            <td style="font-weight: bold;">            
                <table style="width:100%; margin: 0px auto;">
                    <tr style="width:100%;">
                        <td style="text-align:left;">
                            <font size="2">Output</font>
                        </td>
                        <td style="text-align:right; padding: 0px;">
                            <button type="button" id="clearCode" class="myButton" title="Clear Code" onclick="clearScript();">Clear all
                            </button>
                            <button type="button" id="downloadCode" class="myButton" title="Download Code" onclick="return outputDownload();">
                                Download output file
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
</tr><tr>
    <td>
<!--loading spinner for the script area-->
<div id="waitScript" align="center" style="display: none;">
    <span>
    <p class="sansserif"><font color="#FE642E"><b>Working. This may take a LONG time.<br>
    Do not navigate away.</b></font></p></span>
    <!--<label id="minutes">00</label>:<label id="seconds">00</label>-->
    <span jsId="waitStandby" dojoType="dojox.widget.Standby" target="waitScript" color="transparent"></span>
</div>
<!--end loading spinner-->
    </td>
</tr><tr>
            <td valign="top">
                <pre id="script_output" class="brush:cpp"></pre>
            </td>

</table>

