# Copyright © 2009 Cisco Systems, Inc.  All rights reserved.

# See big comments in doxygen.cfg about the purpose of this file.

PROJECT_NUMBER = 1.0.2

INPUT          = \
		../doc/hwloc.doxy \
		../include/hwloc.h \
		../include/hwloc/helper.h \
		../include/hwloc/cpuset.h \
		../include/hwloc/glibc-sched.h \
		../include/hwloc/linux.h \
		../include/hwloc/linux-libnuma.h \
		../include/hwloc/openfabrics-verbs.h

EXAMPLE_PATH   = ../doc

IMAGE_PATH     = ../doc/images images

INCLUDE_PATH   = ../doc
