{% extends "registration/base.html" %}

{% block title %}Lighthouse login{% endblock %}

{% block content %}
  </br></br>
  <div id="logindiv">
    <div id="formtitle">
      Member Login
    </div>
    <div id="errordiv">
     {% if form.errors %}
     <div><h4 style="color:red; text-align:center;">Please check your E-mail/Password and try again!</h4></div>
     {% endif %}
    </div>
    <div id="formdiv">
       <form method="post" action="?next={{ next|default:"/" }}">
           {% csrf_token %}
           <table>
                <tr>
                    <th><label for="id_username">E-mail:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <th><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</th>
                    <td>{{ form.password }}</br>
                        <a href="{% url auth_password_reset %}" style="text-decoration: none">Forget your password?</a>
                    </td>
                </tr>
            </table>
            <div id="buttondiv">
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/search/" />
            {% endif %}
                <input type="submit" value="Login" style="width:70px;"/>
                </br></br>
                <a href="{% url registration_register %}" style="text-decoration: none">Not a member?  Sign up now!</a>
            </div>
       </form>
    </div>
  </div>
{% endblock %}
