{% extends "registration/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if validlink %}
</br></br>
<div id="maindiv">
        <div id="formtitle">
		Enter new password!
	</div>
	<div id="formdiv">
		<p>Please enter your new password twice.</p>
	
		<form action="" method="post">
			{% csrf_token %}
			{{ form.new_password1.errors }}
			<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
			{{ form.new_password2.errors }}
			<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
			<p align="center"><input type="submit" value="Change my password" /></p>
		</form>
	
	{% else %}
	
		<h2>Password reset unsuccessful!</h2>
		
		<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
	</div>
</div>
{% endif %}

{% endblock %}
