{% extends "registration/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
	</br></br>
	<div id="maindiv">
		<div id="formtitle">
			Password reset!
		</div>
		<div id="formdiv">
			<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
		
			<form action="" method="post">
				{% csrf_token %}
				{{ form.email.errors }}
				<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password" /></p>
			</form>
		</div>
	</div>


{% endblock %}
