{% extends "registration/base.html" %}

{% block title %}Registration registration{% endblock %}

{% block content %}
    </br></br>
    <div id="logindiv">
        <div id="formtitle">
            Registration Form
        </div>
        <form action="." method="post">
        <div id="formdiv">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
        </div>
        <div id="buttondiv">
            <input type="submit" value="Create account" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
            </br></br>
            <a href="{% url auth_login %}" style="text-decoration: none">Already a member? Log in!</a>
        </div>
    </div>  
{% endblock %}