{% load static from staticfiles %}

<div id="title-div">
  <table id="icon-table">
      <tr>
	  <td id="icon-cell">
	      <img src={%static "images/advancedSearch.png" %} width="32" height="32"/>
	  </td>       
	 <td id="title-cell">
	      Advanced Search
	  </td>
      </tr>
  </table>    
</div>
<br>
<script>
    require(["dojo/parser", "dijit/form/Form", "dijit/form/Button", "dijit/Dialog"]);
</script>
<form id="myFormThree" name="advanced" action="/lapack_sylvester/advancedSearch/" name="frmProb" method="post"
      data-dojo-type="dijit/form/Form" data-dojo-id="myFormThree" encType="multipart/form-data"
      onSubmit="return formValid();">
  {% csrf_token %}
  <script>
      function formValid(){
	  ////check whether radio buttons are checked
	  if (document.getElementById("id_standard_search_1").checked == false && document.getElementById("id_generalized_search_1").checked == false) {
	    alert("Select at least one category to search in.");
	    return false;
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Standard
	  if(document.getElementById("id_standard_search_1").checked){
	    var complexNumber_check1 = dojo.query('INPUT[name=standard_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check1 = dojo.query('INPUT[name=standard_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check1 == 0 && singleDouble_check1 > 0){
		alert("Check at least one box in the Complex Number cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 > 0){
		alert("Check at least one box in the Precision cell in Standard Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check1 == 0 && complexNumber_check1 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in Standard Sylvester column.");
		return false;
	    }	
	  }
	  ////check whether "Complex numbers" and "Precision" are checked for Generalized
	  if(document.getElementById("id_generalized_search_1").checked){
	    var complexNumber_check2 = dojo.query('INPUT[name=generalized_complexNumber]').filter(function(n){return n.checked;}).length;
	    var singleDouble_check2 = dojo.query('INPUT[name=generalized_singleDouble]').filter(function(n){return n.checked;}).length;
	    if (complexNumber_check2 == 0 && singleDouble_check2 > 0){
		alert("Check at least one box in the Complex Number cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 > 0){
		alert("Check at least one box in the Precision cell in the Generalized Sylvester column.");
		return false;
	    }
	    else if (singleDouble_check2 == 0 && complexNumber_check2 == 0){
		alert("Check at least one box in the Complex Number and Precision cells in the Generalized Sylvester column.");
		return false;
	    }
	  }	  
      }
  </script>
  <table id='ver-zebra'>
  <!-- Colgroup -->
  <colgroup>
	  <col class="vzebra-odd">
	  <col class="vzebra-even">
	  <col class="vzebra-odd">
	  <col class="vzebra-even">
  </colgroup>
    <tr>
      <th scope="col">
	Standard/Generalized
      </th>
      <th>
	Standard Sylvester matrix equation
      </th>
      <th>
	Generalized Sylvester matrix equation
      </th>
    </tr>
    <tr>
      <th>
	Search in this category 
      </th>
      {% if form_submitted %}
	<td>
	  {{ form_submitted.standard_search }}
	</td>
	<td>
	  {{ form_submitted.generalized_search }}
	</td>
      {% else %}
      <td>
	<ul>
	  <li>
	    <label for="id_standard_search_0"><input type="radio" id="id_standard_search_0" value="no" name="standard_search" /> no</label></li>
	  <li><label for="id_standard_search_1"><input type="radio" id="id_standard_search_1" value="yes" name="standard_search" /> yes</label></li>	
	</ul>
      </td>
      <td>
	<ul>
	  <li><label for="id_generalized_search_0"><input type="radio" id="id_generalized_search_0" value="no" name="generalized_search" /> no</label></li>
	  <li><label for="id_generalized_search_1"><input type="radio" id="id_generalized_search_1" value="yes" name="generalized_search" /> yes</label></li>	
	</ul>
      </td>
      {% endif %}
    </tr>
    <tr>
      <th>
	Equation 
      </th>
      <td>
	<i>op(A)*X &#177 X*op(B) = &#945C</i>.
      </td>
      <td>
	<i>A*R &#8722 L*B = &#945C</i></br><i>D*R &#8722 L*E = &#945F</i>
      </td>
    </tr>
    <tr>
      <th>
	Description 
      </th>
      <td>
	<i>op(A) = A</i>, <i>A<sup>T</sup></i> or <i>A<sup>H</sup></i> (for <i>A</i> with complex entries); <i>&#945</i> is an output scale factor 
      </td>
      <td>
	<i>R</i> and <i>L</i> are unknown <i>m&timesn</i> matrices; <i>&#945</i> is an output scale factor
      </td>
    </tr>
    <tr>
      <th>
	Requirements for real matrices 
      </th>
      <td>
	matrices <i>A</i> and <i>B</i> must be upper quasi-triangular
	<div onClick="dialog_uqTri_real.show();">
	    <span><img src={%static "images/question.png" %} width="16" height="16"/></span>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-id="dialog_uqTri_real" title="Real upper quasi-triangular matrix">
	    <div class="dijitDialogPaneContentArea">
		<iframe width="500px" height="420px" src={%static "help/lapack/sylvester/upper_quasi_triangular_real.html" %}></iframe>
	    </div>
	    <div class="dijitDialogPaneActionBar">
		<button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){dialog_uqTri_real.hide();}">
		  Close
		</button>
	    </div>
	</div>
      </td>
      <td>
	matrices <i>A</i> and <i>B</i> must be upper quasi-triangular, and matrices <i>D</i> and <i>E</i> must be upper triangular
	<div onClick="dialog_uTri_real.show();">
	    <span><img src={%static "images/question.png" %} width="16" height="16"/></span>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-id="dialog_uTri_real" title="Real upper triangular matrix">
	    <div class="dijitDialogPaneContentArea">
		<iframe width="500px" height="420px" src={%static "help/lapack/sylvester/upper_triangular_real.html" %}></iframe>
	    </div>
	    <div class="dijitDialogPaneActionBar">
		<button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){dialog_uTri_real.hide();}">
		  Close
		</button>
	    </div>
	</div>	
      </td>
    </tr>
    <tr>
      <th>
	Requirements for complex matrices 
      </th>
      <td>
	matrices <i>A</i> and <i>B</i> must be upper triangular
	<span><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td>
      <td>
	matrices <i>A</i>, <i>B</i>, <i>D</i>, and <i>E</i> must be upper triangular
	<span><img src={%static "images/question.png" %} width="16" height="16"/></span>
      </td>
    </tr>
    {% if form_submitted %}
    <tr>
      <th>
	Complex numbers
      </th>
      <td>
	{{ form_submitted.standard_complexNumber }}
      </td>
      <td>
	{{ form_submitted.generalized_complexNumber }}
      </td>
    </tr>
    <tr>
      <th>
	Precision
      </th>
      <td>
	{{ form_submitted.standard_singleDouble }}
      </td>
      <td>
	{{ form_submitted.generalized_singleDouble }}
      </td>
    </tr>      
    {% else %}
    <tr>
      <th>
	Complex numbers
      </th>
      <td>
	<ul>
	  <li><label for="id_standard_complexNumber_0"><input type="checkbox" name="standard_complexNumber" value="no" id="id_standard_complexNumber_0" /> no</label></li>
	  <li><label for="id_standard_complexNumber_1"><input type="checkbox" name="standard_complexNumber" value="yes" id="id_standard_complexNumber_1" /> yes</label></li>
	</ul>
      </td>
      <td>
	<ul>
	  <li><label for="id_generalized_complexNumber_0"><input type="checkbox" name="generalized_complexNumber" value="no" id="id_generalized_complexNumber_0" /> no</label></li>
	  <li><label for="id_generalized_complexNumber_1"><input type="checkbox" name="generalized_complexNumber" value="yes" id="id_generalized_complexNumber_1" /> yes</label></li>
	</ul>
      </td>
    </tr>
    <tr>
      <th>
	Precision
      </th>
      <td>
	<ul>
	  <li><label for="id_standard_singleDouble_0"><input type="checkbox" name="standard_singleDouble" value="single" id="id_standard_singleDouble_0" /> single</label></li>
	  <li><label for="id_standard_singleDouble_1"><input type="checkbox" name="standard_singleDouble" value="double" id="id_standard_singleDouble_1" /> double</label></li>
	</ul>
      </td>
      <td>
	<ul>
	  <li><label for="id_generalized_singleDouble_0"><input type="checkbox" name="generalized_singleDouble" value="single" id="id_generalized_singleDouble_0" /> single</label></li>
	  <li><label for="id_generalized_singleDouble_1"><input type="checkbox" name="generalized_singleDouble" value="double" id="id_generalized_singleDouble_1" /> double</label></li>
	</ul>
      </td>
    </tr>
    {% endif %}
  </table>  
  
  <div id="button-div">
    <table style="width:100%; margin: 0px auto;">
      <tr style="width:100%;">
	<td style="text-align:left;">       
	  <button type="button" name="clear" id="clearButton_advanced" class="myButton" title="Clear Search"
		  onmouseover="showTooltip('tooltip_advanced', 'Clear Search','#cc0000');"
		  onmouseout="showTooltip('tooltip_advanced','');"
		  onclick="show_confirm('/lapack_sylvester/')">
	      <img src={%static "images/clear.png" %} width="16" height="16"/> 
	  </button>       
	</td>
	<td style="text-align:center;">
	  <div id="tooltip_advanced"></div>
	</td>
	<td style="text-align:right;">
	  <button type="submit" name="guided" value="submit" id="submitButton_advanced" title="Submit Answer" class="myButton"
		  onmouseover="showTooltip('tooltip_advanced', 'Submit', '#009900');"
		  onmouseout="showTooltip('tooltip_advanced','');">
	      <img src={%static "images/dialog-ok-4.png" %} width="16" height="16"/>
	  </button >
	</td>
      </tr>
    </table>
  </div>
</form>