{% extends "dojango/base.html" %}


{% block dojango_content_advancedSearch %}
<div id="title-div">
    <table id="icon-table">
        <tr>
            <td id="icon-cell">
                <img src="{{ MEDIA_URL }}Images/advancedSearch.png" width="32" height="32"/>
            </td>       
           <td id="title-cell">
                Advanced Search
            </td>
        </tr>
    </table>    
</div>
<br>

<form name="advanced" action="/advanced/result/" name="frmProb" method="get">
		
		<div style="padding-left:10px;">
			<img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>			
			<b>Please check <i>at least</i> <u>one</u> box in each cell.</b>
		</div>

<table id='ver-zebra'>

<!-- Colgroup -->
<colgroup>
	<col class="vzebra-odd">
	<col class="vzebra-even">
	<col class="vzebra-odd">
	<col class="vzebra-even">
</colgroup>

<!-- Table Header -->
<thead>
	<tr>
		<th scope="col">
			<b>Routine Category</b>
		</th>
		{% for item in Question_advanced %}
		<th>
			<b>{{ item }}</b>
		</th>
		{% endfor %}
	</tr>
</thead>

<tr>
	<td>
		<b>Description</b>
	</td>
	{% for item in Forms %}
	{% if item.LinearEquation_expertDescription.label == 'Solve a system of linear equations' %}
	<td>Solve a system of linear equations 
		<ul>
			<li>
				<label for="id_LinearEquation_expertDescription_0">
					<input type="checkbox" name="LinearEquation_expertDescription" value="solve" id="id_LinearEquation_expertDescription_0" /> AX = B
				</label>
			</li>
			<li>
				<label for="id_LinearEquation_expertDescription_1">
					<input type="checkbox" name="LinearEquation_expertDescription" value="transpose" id="id_LinearEquation_expertDescription_1" /> A<sup>T</sup>X = B
				</label>
			</li>
			<li>
				<label for="id_LinearEquation_expertDescription_2">
					<input type="checkbox" name="LinearEquation_expertDescription" value="Hermitian_trans" id="id_LinearEquation_expertDescription_2" /> A<sup>H</sup>X = B
				</label>
			</li>
		</ul>
		<i>and</i>
	</td>
	{% else %}
	<td>
		{{ item.Description }}
	</td>
	{% endif %}
	{% endfor %}
</tr>



<tr>
	<td>
		<b>Function</b>
	</td>
	{% for item in Function %}
	<td>
		{{ item }}
	</td>
	{% endfor %}
</tr>



<tr>
	<td>
		<b>Complex Numbers</b>
	</td>
	{% for item in Complex %}
	<td>
		{{ item }}
	</td>
	{% endfor %}
</tr>


<tr>
	<td>
		<b>Matrix Type</b>
	</td>
	{% for item in MatrixType %}
	<td>
		{{ item }}
	</td>
	{% endfor %}
</tr>



<tr>
	<td>
		<b>Storage</b>
	</td>
	{% for item in StorageType %}
	<td>
		{{ item }}
	</td>
	{% endfor %}
</tr>

<tr>
	<td>
		<b>Precision</b>
	</td>
	{% for item in Precision %}
	<td>
		{{ item }}
	</td>
	{% endfor %}
</tr>

</table>

<div id="button-div">
    <table align="right">
    <tr>
    <td>
            <button type="submit" name="Submit" id="submitButton" title="Submit Answer" onclick=
            {% if 'Computational Routines' in Question_advanced %}
            "return validateComputationalCheckbox(id_LinearEquation_computationalFunction_0, id_LinearEquation_computationalFunction_1, id_LinearEquation_computationalFunction_2, id_LinearEquation_computationalFunction_3, id_LinearEquation_computationalFunction_4, id_LinearEquation_computationalFunction_5, id_LinearEquation_computationalFunction_6,
            id_LinearEquation_computationalComplex_0, id_LinearEquation_computationalComplex_1, id_LinearEquation_computationalMatrixType_0, id_LinearEquation_computationalMatrixType_1,
            id_LinearEquation_computationalMatrixType_2, id_LinearEquation_computationalMatrixType_3,
            id_LinearEquation_computationalMatrixType_4, id_LinearEquation_computationalMatrixType_5, id_LinearEquation_computationalStorageType_0, id_LinearEquation_computationalStorageType_1,
            id_LinearEquation_computationalStorageType_2, id_LinearEquation_computationalStorageType_3,
            id_LinearEquation_computationalPrecision_0, id_LinearEquation_computationalPrecision_1)"                 
            {% endif %}
            {% if 'Simple Driver Routines' in Question_advanced %}
            "return validateSimpleDriverCheckbox(id_LinearEquation_simpleFunction_0, id_LinearEquation_simpleComplex_0, id_LinearEquation_simpleComplex_1, id_LinearEquation_simpleMatrixType_0, id_LinearEquation_simpleMatrixType_1, id_LinearEquation_simpleMatrixType_2, id_LinearEquation_simpleMatrixType_3, id_LinearEquation_simpleMatrixType_4, id_LinearEquation_simpleStorageType_0, id_LinearEquation_simpleStorageType_1, id_LinearEquation_simpleStorageType_2, id_LinearEquation_simpleStorageType_3, id_LinearEquation_simplePrecision_0, id_LinearEquation_simplePrecision_1)"                 
            {% endif %}
            {% if 'Expert Driver Routines' in Question_advanced %}
            "return validateExpertDriverCheckbox(id_LinearEquation_expertDescription_0, id_LinearEquation_expertDescription_1, id_LinearEquation_expertDescription_2, id_LinearEquation_expertFunction_0, id_LinearEquation_expertFunction_1, id_LinearEquation_expertFunction_2, id_LinearEquation_expertFunction_3, id_LinearEquation_expertComplex_0, id_LinearEquation_expertComplex_1, id_LinearEquation_expertMatrixType_0, id_LinearEquation_expertMatrixType_1, id_LinearEquation_expertMatrixType_2, id_LinearEquation_expertMatrixType_3, id_LinearEquation_expertMatrixType_4, id_LinearEquation_expertStorageType_0, id_LinearEquation_expertStorageType_1, id_LinearEquation_expertStorageType_2, id_LinearEquation_expertStorageType_3, id_LinearEquation_expertPrecision_0, id_LinearEquation_expertPrecision_1)"                 
            {% endif %}
            >

            <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
            </button >
    </form>
    </td>
    <td>
    <form action="/index/">
            <button type="submit" name="clear" id="clearButton" title="Restart Search" > 
            	<img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
            </button>
    </form>
    </td>
    </tr>
    </table>
</div>
{% endblock %}
<!-- ########################################################################################################## -->


<!-- ########### Simple search questions: ###########-->
{% block dojango_content_simpleSearch %}
{% include "simpleSearch.html" %}
{% endblock %}
