{% extends "dojango/base.html" %}


{% block dojango_content_advancedSearch %}
<h2 align="center"><font color="orange">Advanced Search</font></h2>

<h2>Please check <i>at least</i> <u>one</u> box in each cell.</h2>

<form name="advanced" action="/advanced/result/" name="frmProb" method="get">
<TABLE id='ver-zebra'>

<!-- Colgroup -->
<colgroup>
	<col class="vzebra-odd">
	<col class="vzebra-even">
	<col class="vzebra-odd">
	<col class="vzebra-even">
</colgroup>

<!-- Table Header -->
<thead>
<tr>
<th scope="col"><b>Routine Category</b></th>
{% for item in Question_advanced %}
<th><b>{{ item }}</b></th>
{% endfor %}
</tr>
</thead>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Description</b></font></td>
{% for item in Forms %}
{% if item.LinearEquation_expertDescription.label == 'Solve a system of linear equations' %}
<td>Solve a system of linear equations <ul>
<li><label for="id_LinearEquation_expertDescription_0"><input type="checkbox" name="LinearEquation_expertDescription" value="solve" id="id_LinearEquation_expertDescription_0" /> AX = B</label></li>
<li><label for="id_LinearEquation_expertDescription_1"><input type="checkbox" name="LinearEquation_expertDescription" value="transpose" id="id_LinearEquation_expertDescription_1" /> A<sup>T</sup>X = B</label></li>
<li><label for="id_LinearEquation_expertDescription_2"><input type="checkbox" name="LinearEquation_expertDescription" value="Hermitian_trans" id="id_LinearEquation_expertDescription_2" /> A<sup>H</sup>X = B</label></li>
</ul><i>and</i></td>
{% else %}
<td>{{ item.Description }}</td>
{% endif %}
{% endfor %}
</tr>



<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Function</b></font></td>
{% for item in Function %}
<td>{{ item }}</td>
{% endfor %}
</tr>



<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Complex Numbers</b></font></td>
{% for item in Complex %}
<td>{{ item }}</td>
{% endfor %}
</tr>


<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Matrix Type</b></font></td>
{% for item in MatrixType %}
<td>{{ item }}</td>
{% endfor %}
</tr>



<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Storage</b></font></td>
{% for item in StorageType %}
<td>{{ item }}</td>
{% endfor %}
</tr>

</tr>

<tr>
<td bgcolor="#ACC3DB"><font color="#039"><b>Precision</b></font></td>
{% for item in Precision %}
<td>{{ item }}</td>
{% endfor %}
</tr>

</tr>
</TABLE>




<TABLE align="right">
<TR>
<TD>
	<button type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button >
</form>
</TD>
<TD>
<form action="/index/">
	<button type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
</TD>
</TR>
</TABLE>
{% endblock %}
<!-- ########################################################################################################## -->


<!-- ########### Simple search questions: ###########-->
{% block dojango_content_simpleSearch %}
{% include "simpleSearch.html" %}
{% endblock %}
