{% extends "dojango/base.html" %}



{% block dojango_content_advanced %}

<h2 align="center"><font color="orange">Advanced Search</font></h2>

<form name="advanced" action="/advanced/form/" name="frmProb" method="get">
<TABLE id='ver-zebra'>

	{{ form.as_ul }}



<TABLE align="right">
<TR>
<TD>
	<button dojoType="dijit.form.Button" type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button >
</form>
</TD>
<TD>
<form action="/search-form/">
	<button dojoType="dijit.form.Button" type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
</TD>
</TR>
</TABLE>

<!-- ########################################################################################################## -->

{% endblock %}
