{% extends "dojango/base.html" %}
{% load highlight %}


{% block dojango_content_questions %}
<h2 align="center"><font color="blue">Simple Search</font></h2>

<!-- ########### Questions 1 & 2 answered, Question 3 asked: ###########-->
<tr><th><label for="id_question_prob">Which of the following functions do you wish to execute?</label></th>
{% for item in query_prob %} 
<ul>
  <li>{{ item.1 }}</li>
</ul>
{% endfor %}



{% if query_equa %} 
<tr><th><label for="id_question_equa">What form of the linear system do you want to solve?</label></th>
<ul>
  <li>{{ query_equa }}</li>
</ul>

<tr><th><label for="id_question_comp">Are there complex numbers in your matrix?</label></th>
<ul>
  <li>{{ query_comp }}</li>
</ul>



{% else %}
<tr><th><label for="id_question_comp">Are there complex numbers in your matrix?</label></th>
<ul>
  <li>{{ query_comp }}</li>
</ul>
{% endif %}


<form action="/search/problem/complex/matrixtype/" name="frmType" method="get">
        <p>
            {{ form.as_ul }}
        </p>
{% comment %}
	<button dojoType="dijit.form.Button" type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button>
</form>

<form action="/search-form/">
	<button dojoType="dijit.form.Button" type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
{% endcomment %}

<TABLE align="right">
<TR>
<TD>
	<button dojoType="dijit.form.Button" type="submit" name="Submit" id="submitButton"
	title="Submit Answer">
	Submit
	</button >
</form>
</TD>
<TD>
<form action="/search-form/">
	<button dojoType="dijit.form.Button" type="submit" name="clear" id="clearButton"
	title="Click to clear the search result">
	Clear
	</button>
</form>
</TD>
</TR>
</TABLE>


<!-- ########### "Complex" search result: ###########-->
{% if results %}
<TABLE id='table_main'>
<TR>
<TH>Lighthouse found <strong>{{ results|length }}</strong> routine{{ results|pluralize }} for you:</TH>
</TR>	
{% for item in results %}
<TR> <TD>
<dl>
  <dt style="font-weight: bold;">{{ item.thePrecision|upper }}{{ item.routineName|upper }}</dt>
  <dd>{% highlight item.info with "Purpose" %}<a href="{{ item.url }}" target="_blank">more</a>
	<!--button dojoType="dijit.form.Button" onClick="doAnimation(1);">Wipe Out</button>
	<button dojoType="dijit.form.Button" onClick="doAnimation(2);">Wipe In</button></dd>
	<div id="animDiv" class="box">
	{{ item.info }}
	</div-->
  <dd>
  <table style="display:none;" id={{ item.id }} width="80%" border = "1">
	<a href="javascript:void();" onclick="show_hide({{ item.id }})"><img src="{{ MEDIA_URL }}smile.jpg" width="20" height="20" />
</a>
     <tr>
     <th>Precision</th>
     <th>Routine Name</th>
     <th>Matrix Type</th>
     <th>Storage</th>
     </tr>

     <tr>
     <td>{{ item.thePrecision }}</td>
     <td>{{ item.routineName }}</td> 
     <td>{{ item.matrixType }}</td> 
     <td>{{ item.storageType }}</td>      
     </tr>
  </table>
  </dd> 
</dl>
</TD> </TR>
{% empty %}
{% endfor %}
</TABLE> 
{% endif %} 



<!-- ########################################################################################################## -->


{% endblock %}
