<script type="text/javascript">
	// dojo.requires()

	var loadingEl = dojo.byId("loaderInner");

	loadingEl.innerHTML += "<br />* Menu widgets - dijit.Menu";
	dojo.require("dijit.Menu");
	// dojo.require("dijit.Calendar");
	// dojo.require("dijit._Calendar");
	dojo.require("dijit.ColorPalette");
	dojo.require("dijit.ProgressBar");
	dojo.require("dijit.TitlePane");
	dojo.require("dijit.Tooltip");
	dojo.require("dijit.Tree");
	loadingEl.innerHTML += "<br />* Tree widget - dijit.Tree";

	// editor:
	loadingEl.innerHTML += "<br />* Rich text editor - dijit.Editor";
	dojo.require("dijit.Editor");

	// scan page for widgets and instantiate them
	dojo.require("dojo.parser");

	// dnd:
	loadingEl.innerHTML += "<br />* Drag and drop library - dojo.dnd";
        // dojo.require("dojo.parser");
	dojo.require("dojo.dnd.Source");
	dojo.require("dojo.dnd.Moveable");


	// various Form elemetns
	loadingEl.innerHTML += "<br />* Form widgets - dijit.form";
	dojo.require("dijit.form.CheckBox");
	dojo.require("dijit.form.Textarea");
	dojo.require("dijit.form.FilteringSelect");
	dojo.require("dijit.form.TextBox");
	dojo.require("dijit.form.DateTextBox");
	dojo.require("dijit.form.TimeTextBox");
	dojo.require("dijit.form.Button");
	dojo.require("dijit.InlineEditBox");
	dojo.require("dijit.form.NumberSpinner");
	dojo.require("dijit.form.Slider");
	// dojo.require("HorizontalSlider");
	// dojo.require("VerticalRule");

	// layouts used in page
	loadingEl.innerHTML += "<br />* Layout engine widgets - dijit.layout";
	dojo.require("dijit.layout.AccordionContainer");
	dojo.require("dijit.layout.ContentPane");
	dojo.require("dijit.layout.TabContainer");
	dojo.require("dijit.layout.BorderContainer");
	dojo.require("dijit.layout.SplitContainer");
	loadingEl.innerHTML += "<br />* Dialog widgets - dijit.Dialog";

	// dialog	
	dojo.require("dijit.Dialog");

	dojo.require("dijit.Editor");
	dojo.require("dijit.Tooltip");
        dojo.require("dijit.TooltipDialog");

	// menu
	dojo.require("dijit.Menu");


	// humm?
	dojo.require("dojo.date.locale");

	// for the Tree
	loadingEl.innerHTML +=
	"<br />* Dojo server data interfaces - dojo.data stores";
	dojo.require("dojo.data.ItemFileReadStore");
	dojo.require("dojox.data.QueryReadStore");

</script>
