<script type="text/javascript">
    //require(["dojo/parser", "dojo/dom",
    //         "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dijit/layout/TabContainer", "dijit/layout/SplitContainer",
    //         "dijit/form/DropDownButton", "dijit/PopupMenuItem",
    //         "dijit/Dialog", "dijit/TooltipDialog",
    //         "dojo/dnd/Target",
    //         "dojo/domReady!"],
    //         function(parser){
    //            parser.parse();
    //            test();
    //         }
    //);

    dojo.require("dojo.parser");
    dojo.require("dojo.cookie");
    
    dojo.require("dojo.dnd.Source");
    dojo.require("dojo.dnd.Moveable");
    
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.SplitContainer");
    
    dojo.require("dijit.Dialog");
    dojo.require("dijit.Tooltip");
    dojo.require("dijit.TooltipDialog");
    dojo.require("dijit.Editor");
    
    dojo.require("dijit.form.CheckBox");
    dojo.require("dijit.form.ComboBox");


</script>
