<script type="text/javascript">
	// for displaying help info
	var tooltipDialog;
	
	function showHelpInTooltipDialog(node, Title) {
		if (!tooltipDialog) {
			var htmlFragment = '<div></div>';
			htmlFragment += '<div id="helpTwo" style="background-color:#FFFFD6;">'+
					'<iframe width="480px" height="300px" src="http://127.0.0.1:8000/media/Help/'+Title +'"'+'>'+
					'</iframe>'+
					'</div>';
	
			// CREATE TOOLTIP DIALOG
			tooltipDialog = new dijit.TooltipDialog({
				content: htmlFragment,
				autofocus: !dojo.isIE, // NOTE: turning focus ON in IE causes errors when reopening the dialog
				refocus: !dojo.isIE
			});
		 
			// DISPLAY TOOLTIP DIALOG AROUND THE CLICKED ELEMENT
			dijit.popup.open({ popup: tooltipDialog, around: node });
			tooltipDialog.opened_ = true;
			//node.innerHTML = "Hide";	
		}
		      
		else {
			if (tooltipDialog.opened_) {
				dijit.popup.close(tooltipDialog);
				tooltipDialog.opened_ = false;
				//node.innerHTML = "Show";
			}
			else {
				dijit.popup.open({ popup: tooltipDialog, around: node });
				 tooltipDialog.opened_ = true;
				//node.innerHTML = "Hide";
			}
		}
	}
	
	
	// for the colorpalette
	function setColor(color) {
		var theSpan = dojo.byId("outputSpan");
		dojo.style(theSpan,"color",color);
		theSpan.innerHTML = color;
	}

	// for the calendar
	function myHandler(id,newValue) {
		console.debug("onChange for id = " + id + ", value: " + newValue);
	}


	dojo.addOnLoad( function() {
		// this is just a list of 'official' dijit themes, you can use
		// ?theme=String for 'un-supported' themes, too. (eg: yours)
		var availableThemes = [{
			theme:"1",
			author:"Sa-Lin Cheng Bernstein",
			baseUri:"../themes/"
		},{
			theme:"2",
			author:"Elizabeth R. Jessup",
			baseUri:"../themes/"
		},{
			theme:"3",
			author:"Boyana Norris",
			baseUri:"../themes/"
		}

		];

		var holder = dojo.byId('themeData');
		var tmpString='';
		dojo.forEach(availableThemes, function(theme) {
			tmpString += '<a href="?theme='+theme.theme+'">'+
			theme.theme+'</'+'a>: '+theme.author+' <br>';
		});
		holder.innerHTML = tmpString;

		var start = new Date().getTime();
		dojo.parser.parse(dojo.byId('container'));
		console.info("Total parse time: " + (new Date().getTime() - start) + "ms");


		dojo.byId('loaderInner').innerHTML += " done.";
		setTimeout( function hideLoader() {
			var loader = dojo.byId('loader');
			dojo.fadeOut({
				node: loader,
				duration:500,
				onEnd: function() {
					loader.style.display = "none";
				}
			}).play();
		}, 250);
		var strayGlobals = [];
		for(var i in window) {
			if(!window.__globalList[i]) {
				strayGlobals.push(i);
			}
		}
		if(strayGlobals.length) {
			console.warn("Stray globals: "+strayGlobals.join(", "));
		}
	});



	// showing/hiding the table in the search result by clicking the image
	function show_hide(tblid, show) {
		if (tbl == document.getElementById(tblid)) {
			if (null == show) show = tbl.style.display == 'none';
			tbl.style.display = (show ? '' : 'none');
		}
	}


	// disable the radiobuttons in the first question when clicking a checkbox
	function disableRadiobuttons() {
	    length = document.frmProb.length;
	    for (i=0; i<length; i++)
		{
		    if (document.frmProb[i].type == "radio")
			document.frmProb[i].disabled = "disabled";
		}
	}



	// disable the checkboxes in the first question when clicking a radiobutton
	function disableCheckboxes() {
	    length = document.frmProb.length;
	    for (i=0; i<length; i++)
		{
		    if (document.frmProb[i].type == "checkbox")
			document.frmProb[i].disabled = "disabled";
		}
	}


	
	// disable THE OTHER radiobutton in the "complex numbers" question --> NOT working yet!
	function disableComplex(dict) {
	   length = document.frmComp.length;
	   for (i=0; i<length; i++)
		{
		    if (document.frmComp[i].value != dict)
			document.frmComp[i].disabled = "disabled";
		}
	}




	// automatically select simple/advanced/key-word search tab
	dojo.ready(function() {
		if (location.pathname == '/advanced/form/' || location.pathname == '/advanced/result/' ) {
			dijit.byId('leftTab').selectChild(dijit.byId('advancedSearch'));
		}
		//console.log(location.pathname);
	});	


/*
	//dajaxice functions for "help" infomation
	function callback_linearEquationHelp(data){
		alert(data.message);
	} 
*/

</script>
