<script type="text/javascript">
	// Loading themeTester
	//var loadingEl = dojo.byId("loaderInner");
	//loadingEl.innerHTML += "<br />* Menu widgets - dijit.Menu";
	
	dojo.ready( function() {
		// this is just a list of 'official' dijit themes, you can use
		// ?theme=String for 'un-supported' themes, too. (eg: yours)
		var availableThemes = [
			{
				theme:"1",
				author:"Sa-Lin Cheng Bernstein",
				baseUri:"../themes/"
			},
			{
				theme:"2",
				author:"Javed Hossain",
				baseUri:"../themes/"
			},
			{
				theme:"3",
				author:"Elizabeth R. Jessup",
				baseUri:"../themes/"
			},
			{
				theme:"4",
				author:"Boyana Norris",
				baseUri:"../themes/"
			}
		];
		var holder = dojo.byId('themeData');
		var tmpString='';
		dojo.forEach(availableThemes, function(theme) {
			tmpString += '<a href="?theme='+theme.theme+'">'+
			theme.theme+'</'+'a>: '+theme.author+' <br>';
		});
		holder.innerHTML = tmpString;
		
		
		
		
		// for parser time info
		var start = new Date().getTime();
		dojo.parser.parse(dojo.byId('container'));
		console.info("Total parse time: " + (new Date().getTime() - start) + "ms");
		
		
		
		//dojo.byId('loaderInner').innerHTML += " done.";
		
		
		
		setTimeout( function hideLoader() {
			var loader = dojo.byId('loader');
			dojo.fadeOut({
				node: loader,
				duration:500,
				onEnd: function() {
					loader.style.display = "none";
				}
			}).play();
		}, 250);
		
		
		
		var strayGlobals = [];
		for(var i in window) {
			if(!window.__globalList[i]) {
				strayGlobals.push(i);
			}
		}
		if(strayGlobals.length) {
			console.warn("Stray globals: "+strayGlobals.join(", "));
		}
		
		
	
		
		// create dnd Sources
		var source = new dojo.dnd.Source("routineListNode");
		var source = new dojo.dnd.Source("selectedListNode");
		
		
	});



	// showing/hiding the table in the search result by clicking the image
	function show_hide(tblid, show) {
		if (tbl == document.getElementById(tblid)) {
			if (null == show) show = tbl.style.display == 'none';
			tbl.style.display = (show ? '' : 'none');
		}
	}


	// disable the radiobuttons in the first question when clicking a checkbox
	function disableRadiobuttons() {
	    length = document.frmProb.length;
	    for (i=0; i<length; i++)
		{
		    if (document.frmProb[i].type == "radio")
			document.frmProb[i].disabled = "disabled";
		}
	}



	// disable the checkboxes in the first question when clicking a radiobutton
	function disableCheckboxes() {
	    length = document.frmProb.length;
	    for (i=0; i<length; i++)
		{
		    if (document.frmProb[i].type == "checkbox")
			document.frmProb[i].disabled = "disabled";
		}
	}


	
	// disable THE OTHER radiobutton in the "complex numbers" question --> NOT working yet!
	function disableComplex(dict) {
	   length = document.frmComp.length;
	   for (i=0; i<length; i++)
		{
		    if (document.frmComp[i].value != dict)
			document.frmComp[i].disabled = "disabled";
		}
	}

	
	// Ask for confirmation when user clicks on Restart Search button
	function show_confirm(){
		var restart = "";
		restart = confirm("Are you sure you want restart search?");
		return restart;
	}

	
	// Check if at least one check box (out of three in the initial advanced search tab) has been selected 
	function validateAdvancedCategoryCheckbox(chk1, chk2, chk3){
		if (!validate3Checkbox(chk1, chk2, chk3))
		{
			alert("Check at least one category.");
			return false;
		}
		else
			return true;
	}

	// Check if at least 1/2 check box is selected
    function validate1Checkbox(cb1)
    {
		if (cb1.checked == 0)
			return false;
		else
			return true;
	}

    // Check if at least 1/2 check box is selected
    function validate2Checkbox(cb1, cb2)
    {
		if (cb1.checked == 0 && cb2.checked == 0)
			return false;
		else
			return true;
	}

    // Check if at least 1/3 check box is selected
    function validate3Checkbox(cb1, cb2, cb3)
    {
		if (cb1.checked == 0 && cb2.checked == 0 && cb3.checked == 0)
			return false;
		else
			return true;
	}

	// Check if at least 1/4 check box is selected
    function validate4Checkbox(cb1, cb2, cb3, cb4)
    {
		if (cb1.checked == 0 && cb2.checked == 0 && cb3.checked == 0 && cb4.checked == 0)
			return false;
		else
			return true;
	}

	// Check if at least 1/5 check box is selected
    function validate5Checkbox(cb1, cb2, cb3, cb4, cb5)
    {
		if (cb1.checked == 0 && cb2.checked == 0 && cb3.checked == 0 && cb4.checked == 0 && cb5.checked == 0)
			return false;
		else
			return true;
	}

	// Check if at least 1/6 check box is selected
    function validate6Checkbox(cb1, cb2, cb3, cb4, cb5, cb6)
    {
		if (cb1.checked == 0 && cb2.checked == 0 && cb3.checked == 0 && cb4.checked == 0 && cb5.checked == 0 && cb6.checked == 0)
			return false;
		else
			return true;
	}

	// Check if at least 1/7 check box is selected
    function validate7Checkbox(cb1, cb2, cb3, cb4, cb5, cb6, cb7)
    {
		if (cb1.checked == 0 && cb2.checked == 0 && cb3.checked == 0 && cb4.checked == 0 && cb5.checked == 0 && cb6.checked == 0 && cb7.checked == 0)
			return false;
		else
			return true;
	}
	

	// Check if at least one check box in each cell is selected (in Computational Routine Search)
	function validateComputationalCheckbox(f1, f2, f3, f4, f5, f6, f7, c1, c2, m1, m2, m3, m4, m5, m6, s1, s2, s3, s4, p1, p2)
    {
		f = validate7Checkbox(f1, f2, f3, f4, f5, f6, f7);
		c = validate2Checkbox(c1, c2);
		m = validate6Checkbox(m1, m2, m3, m4, m5, m6);
		s = validate4Checkbox(s1, s2, s3, s4);
		p = validate2Checkbox(p1, p2);

		if(!f)
		{
			alert("Check at least one in the Function cell in Computational Routines column.");
			return false;
		}
		else if(!c)
		{
			alert("Check at least one in the Complex Number cell in Computational Routines column.");
			return false;
		}
		else if(!m)
		{
			alert("Check at least one in the Matrix Type cell in Computational Routines column.");
			return false;
		}
		else if(!s)
		{
			alert("Check at least one in the Storage cell in Computational Routines column.");
			return false;
		}
		else if(!p)
		{
			alert("Check at least one in the Precision cell in Computational Routines column.");
			return false;
		}
		else
			return true;
					
	}

	// Check if at least one check box in each cell is selected (in Simple Driver Routine Search)
	function validateSimpleCheckbox(f1, c1, c2, m1, m2, m3, m4, m5, s1, s2, s3, s4, p1, p2)
    {
		f = validate1Checkbox(f1);
		c = validate2Checkbox(c1, c2);
		m = validate5Checkbox(m1, m2, m3, m4, m5);
		s = validate4Checkbox(s1, s2, s3, s4);
		p = validate2Checkbox(p1, p2);

		if(!f)
		{
			alert("Check at least one in the Function cell in Simple Driver Routines column.");
			return false;
		}
		else if(!c)
		{
			alert("Check at least one in the Complex Number cell in Simple Driver Routines column.");
			return false;
		}
		else if(!m)
		{
			alert("Check at least one in the Matrix Type cell in Simple Driver Routines column.");
			return false;
		}
		else if(!s)
		{
			alert("Check at least one in the Storage cell in Simple Driver Routines column.");
			return false;
		}
		else if(!p)
		{
			alert("Check at least one in the Precision cell in Simple Driver Routines column.");
			return false;
		}
		else
			return true;			
	}

	// Check if at least one check box in each cell is selected (in Expert Driver Routine Search)
	function validateExpertCheckbox(d1, d2, d3, f1, f2, f3, f4, c1, c2, m1, m2, m3, m4, m5, s1, s2, s3, s4, p1, p2)
    {
    	d = validate3Checkbox(d1, d2, d3);
		f = validate4Checkbox(f1, f2, f3, f4);
		c = validate2Checkbox(c1, c2);
		m = validate5Checkbox(m1, m2, m3, m4, m5);
		s = validate4Checkbox(s1, s2, s3, s4);
		p = validate2Checkbox(p1, p2);

		if(!d)
		{
			alert("Check at least one Equation in the Function cell in Expert Driver Routines column.");
			return false;
		}
		else if(!f)
		{
			alert("Check at least one Task in the Function cell in Expert Driver Routines column.");
			return false;
		}
		else if(!c)
		{
			alert("Check at least one in the Complex Number cell in Expert Driver Routines column.");
			return false;
		}
		else if(!m)
		{
			alert("Check at least one in the Matrix Type cell in Expert Driver Routines column.");
			return false;
		}
		else if(!s)
		{
			alert("Check at least one in the Storage cell in Expert Driver Routines column.");
			return false;
		}
		else if(!p)
		{
			alert("Check at least one in the Precision cell in Expert Driver Routines column.");
			return false;
		}
		else
			return true;
					
	}

	// Check if at least one check box in each cell is selected (in Computational Routine and Simple Driver Routine Search)
	function validateComputationalSimpleCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2, sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2)
    {
		c = validateComputationalCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2);

		if(c == true)
		{
			s = validateSimpleCheckbox(sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2);
		}
			

		if(c && s)
			return true;
		else 
			return false;
	}

	// Check if at least one check box in each cell is selected (in Computational Routine and Expert Driver Routine Search)
	function validateComputationalExpertCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2, ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2)
    {
		c = validateComputationalCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2);	

		if(c == true)
		{
			e = validateExpertCheckbox(ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2);
		}
			

		if(c && e)
			return true;
		else 
			return false;
	}

	// Check if at least one check box in each cell is selected (in Simple Driver Routine and Expert Driver Routine Search)
	function validateSimpleExpertCheckbox(sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2, ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2)
    {
		s = validateSimpleCheckbox(sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2);

		if(s == true)
		{
			e = validateExpertCheckbox(ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2);
		}
			

		if(s && e)
			return true;
		else 
			return false;
	}

	// Check if at least one check box in each cell is selected (in Computational Routines, Simple Driver Routine and Expert Driver Routine Search)
	function validateComputationalSimpleExpertCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2, sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2, ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2)
    {		
		c = validateComputationalCheckbox(cf1, cf2, cf3, cf4, cf5, cf6, cf7, cc1, cc2, cm1, cm2, cm3, cm4, cm5, cm6, cs1, cs2, cs3, cs4, cp1, cp2);

		if(c == true)
		{
			s = validateSimpleCheckbox(sf1, sc1, sc2, sm1, sm2, sm3, sm4, sm5, ss1, ss2, ss3, ss4, sp1, sp2);
		}

		if(s == true)
		{
			e = validateExpertCheckbox(ed1, ed2, ed3, ef1, ef2, ef3, ef4, ec1, ec2, em1, em2, em3, em4, em5, es1, es2, es3, es4, ep1, ep2);
		}

		if(c && s && e)
			return true;
		else 
			return false;
	}

/*
	//dajaxice functions for "help" infomation
	function callback_linearEquationHelp(data){
		alert(data.message);
	} 
*/

</script>
