{% extends "dojango/base.html" %}


{% block dojango_content_simpleSearch %}
<h2 align="center"><font color="blue">Guided Search</font></h2>


<!-- ########### All questions answered: ###########-->
<tr>
  <th>
    <label for="id_question_prob">Which of the following functions do you wish to execute?
    </label>
  </th>
  {% for item in query_prob %} 
  <ul>
    <li>{{ item.1 }}</li>
  </ul>
  {% endfor %}
</tr>





{% if query_equa != 0 %} 
<tr>
  <th>
    <label for="id_question_equa">What form of the linear system do you want to solve?
    </label>
  </th>
  <ul>
    <li>{{ query_equa|safe }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_fact">Is your matrix factorized?
    </label>
  </th>
  <ul>
    <li>{{ query_fact }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_comp">Are there complex numbers in your matrix?
    </label>
  </th>
  <ul>
    <li>{{ query_comp }}</li>
  </ul>
</tr>


<tr>
  <th><label for="id_question_zero">What is the type of your matrix?
  </label>
  </th>
  <ul>
    <li>{{ query_type }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_stor">How is your matrix stored?
    </label>
  </th>
  <ul>
    <li>{{ query_stor }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_prec">Would you like to use single or double precision?
    </label>
  </th>
  <ul>
    <li>{{ query_prec }}</li>
  </ul>
</tr>






{% else %}

<tr>
  <th>
    <label for="id_question_comp">Are there complex numbers in your matrix?
    </label>
  </th>
  <ul>
    <li>{{ query_comp }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_zero">What is the type of your matrix?
    </label>
  </th>
  <ul>
    <li>{{ query_type }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_stor">How is your matrix stored?
    </label>
  </th>
  <ul>
    <li>{{ query_stor }}</li>
  </ul>
</tr>


<tr>
  <th>
    <label for="id_question_prec">Would you like to use single or double precision?
    </label>
  </th>
  <ul>
    <li>{{ query_prec }}</li>
  </ul>
</tr>
{% endif %}



<TABLE align="right">
  <TR>
    <TD>
      <form action="/index/">
	<button type="submit" name="clear" id="clearButton"
		title="Click to clear the search result">
		Clear
	</button>
      </form>
    </TD>
  </TR>
</TABLE>

{% endblock %}
<!-- ########################################################################################################## -->




<!-- ########### Simple search result: ###########-->
{% block dojango_content_search_result %}
{% include "simpleResult.html" %}
{% endblock %}

<!-- ########### Advanced search questions: ###########-->

{% block dojango_content_advancedSearch %}
{% include "advancedSearch.html" %}
{% endblock %}

