<!-- ########### Simple search form: ###########-->

<div id="title-div">
	<table id="icon-table">
		<tr>
			<td id="icon-cell">
				<img src="{{ MEDIA_URL }}Images/guidedSearch.png" width="32" height="32"/>
			</td>		
			<td id="title-cell">
				Guided Search
			</td>
		</tr>
	</table>	
</div>
<br>


<!-- ### Question 1 : Which of the following do you wish to compute? ###-->
<form id="frmProb"  action="/search/problem/" name="frmProb" method="get">
<div id="question-div">

<tr>
	<th>
		<label for="id_question_prob_0">
            <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
			<b>Which of the following do you wish to compute?</b>
		</label>
	</th>

<td>
<ol style="margin-left: 0; padding-left: 25px;">
<li>
	<label for="id_question_prob_0">
		<input type="radio" name="question_prob" value="Combine LinearEquation_only solve" 
		id="id_question_prob_0" onclick="disableCheckboxes()"/> 
		Solve a linear equation only 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpLinearEquation" title="Linear Equation">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpLinearEquation').onCancel();
						</script>
				</div>
				<h2>Linear Equation</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="300px" src="http://127.0.0.1:8000/media/Help/linearEquation.html"></iframe>  		 		
				</div>
			</div>
	</div>

</li>

<li>
	<label for="id_question_prob_1">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational factor" id="id_question_prob_1" onclick="disableCheckboxes()"/> 
		Factor a matrix (PA = LU) 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpFactor" title="Matrix Factorization">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpFactor').onCancel();
						</script>
				</div>
				<h2>Matrix Factorization</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="440px" src="http://127.0.0.1:8000/media/Help/factor.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li>
	<label for="id_question_prob_4">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational condition" id="id_question_prob_4" onclick="disableCheckboxes()"/> 
		Estimate the condition number of a matrix 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpConditionNumber" title="Condition Number">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpConditionNumber').onCancel();
						</script>
				</div>
				<h2>Condition Number</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="420px" src="http://127.0.0.1:8000/media/Help/conditionNumber.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li>
	<label for="id_question_prob_3">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational error" id="id_question_prob_3" onclick="disableCheckboxes()"/> 
		Compute forward or backward error bounds for the solution to a linear system 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpErrorBound" title="Error Bound">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpErrorBound').onCancel();
						</script>
				</div>
				<h2>Error Bound</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="420px" src="http://127.0.0.1:8000/media/Help/errorBound.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li>
	<label for="id_question_prob_2">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational refine" id="id_question_prob_2" onclick="disableCheckboxes()"/> 
		Refine the solution to a linear system 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpRefine" title="Refine">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpRefine').onCancel();
						</script>
				</div>
				<h2>Solution Refinement</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="420px" src="http://127.0.0.1:8000/media/Help/refine.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li>
	<label for="id_question_prob_5">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational equilibrate" id="id_question_prob_5" onclick="disableCheckboxes()"/> 
		Equilibrate a matrix 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpEquilibration" title="Equilibration">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpEquilibration').onCancel();
						</script>
				</div>
				<h2>Equilibration</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="250px" src="http://127.0.0.1:8000/media/Help/equilibration.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li>
	<label for="id_question_prob_6">
		<input type="radio" name="question_prob" value="Computational LinearEquation_computational inverse" id="id_question_prob_6" onclick="disableCheckboxes()"/> 
		Invert a matrix using provided factors (P, L, U) 
	</label>
	<div dojoType="dijit.form.DropDownButton"  class="tooltipLink" >
		<span><img src="{{ MEDIA_URL }}Images/question.png" width="10" height="10" /></span>
			<div dojoType="dijit.TooltipDialog" id="helpInverse" title="Matrix Inverse">
				<div class="buttonLink" style="float:right;font-size:small" title="close" tabindex="0" 
					dojoType="dijit.form.Button">[Close]
						<script type="dojo/method" event="onClick">
							dijit.byId('helpInverse').onCancel();
						</script>
				</div>
				<h2>Matrix Inverse</h2>
				<div id="helpText_LinearEquation" style="background-color:#FFFFD6;">
					<iframe width="500px" height="160px" src="http://127.0.0.1:8000/media/Help/inverse.html"></iframe>  		 		
				</div>
			</div>
	</div>
</li>

<li style="padding: 7px">
	<label for="id_question_prob_7">
		Solve a linear equation <i>and</i> 
	</label>
</li>

<ul>
	<table>
		<tr>
			<dd>
				<label for="id_question_prob_10" >
					<input type="checkbox" name="question_prob" value="Driver LinearEquation_expert condition" id="id_question_prob_10" onclick="disableRadiobuttons()"/> 
					Estimate the condition number of a matrix
				</label>
			</dd>
		</tr>
		<tr>
			<dd>
				<label for="id_question_prob_9">
					<input type="checkbox" name="question_prob" value="Driver LinearEquation_expert error" id="id_question_prob_9" onclick="disableRadiobuttons()"/> 
					Compute forward or backward error bounds for the solution
				</label>
			</dd>
		</tr>
		<tr>
			<dd>
				<label for="id_question_prob_8">
					<input type="checkbox" name="question_prob" value="Driver LinearEquation_expert refine" id="id_question_prob_8" onclick="disableRadiobuttons()"/> 
					Refine the solution
				</label>
			</dd>
		</tr>
		<tr>
			<dd>
				<label for="id_question_prob_11" >
					<input type="checkbox" name="question_prob" value="Driver LinearEquation_expert equilibrate" id="id_question_prob_11" onclick="disableRadiobuttons()"/> 
					Equilibrate a matrix
				</label>
			</dd>
		</tr>
	</table>
</ul>
</ol>
</td>
</tr>
</div>
<br>


<div id="button-div">
    <table align="right">
	<tr>
		<td>
			<button type="submit" name="Submit" id="submitButton" title="Submit Answer">
			    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
			</button >
</form>
		</td>
		<td>
			<form action="/index/">
				<button type="submit" name="clear" id="clearButton" title="Restart Search" onclick="return show_confirm()">
				    <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
				</button>
			</form>
		 </td>
	</tr>
    </table>
</div>
