<!-- ########### Simple search result: ###########-->

{% load highlight %}


{% if results %}
<h2 style="text-align:center; color: #800080;">Lighthouse found <u>{{ results|length }}</u> routine{{ results|pluralize }} for you:</h2>
<br/>

<div dojoType="dojo.dnd.Source" class="container" id="routineList">	
{% for item in results %}
	<div class="dojoDndItem" id="dojoDndItem">
		<h3 style="color: #669;">{{ item.thePrecision|upper }}{{ item.routineName|upper }}</h3>
		<p>{% highlight item.info with "Purpose" %}
			<button dojoType="dijit.form.Button" onmouseover="dijit.byId('{{ item.id }}').show()">more</button>
		</p>
				<div class="dijitHidden">
				<div dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}" id={{ item.id }}>
				<div align="center">
					<table id="table_main" width="80%" border = "1">
				     		<tr>
						<th>Precision</th>
						<th>Routine Name</th>
						<th>Matrix Type</th>
						<th>Storage</th>
						</tr>
						<tr>
						<td>{{ item.thePrecision|upper }}</td>
						<td>{{ item.routineName|upper }}</td> 
						<td>{{ item.matrixType }}</td> 
						<td>{{ item.storageType }}</td>      
						</tr>
					</table><br/>
					<iframe src="{{ item.url }}" width="640px" height="400px"></iframe><br/></br> 
					<button dojoType="dijit.form.Button" onClick="dijit.byId('{{ item.id }}').hide()">Close</button>
				</div>
				</div>
				</div>
			
	</div> 


{% empty %}
{% endfor %}
</div>
{% endif %} 



  <!--dd>
  <table style="display:none;" id={{ item.id }} width="80%" border = "1">
	<a href="javascript:void();" onclick="show_hide({{ item.id }})"><img src="{{ MEDIA_URL }}smile.jpg" width="20" height="20" />
</a>
     <tr>
     <th>Precision</th>
     <th>Routine Name</th>
     <th>Matrix Type</th>
     <th>Storage</th>
     </tr>

     <tr>
     <td>{{ item.thePrecision }}</td>
     <td>{{ item.routineName }}</td> 
     <td>{{ item.matrixType }}</td> 
     <td>{{ item.storageType }}</td>      
     </tr>
  </table>
  </dd--> 
