<style type="text/css">
        html, body {
                height: 100%;
                width: 100%;
                padding: 0;
                border: 0;
        }
        #main {
                height: 100%;
                width: 100%;
                padding: 0;
                border: 0;
        }
        #bottomTabs {
                height: 65%;
        }
        #main .dijitSplitterH {
                height: 7px
        }
        #main .dijitSplitterV {
                width: 7px
        }
        /* pre-loader specific stuff to prevent unsightly flash of unstyled content */
        #loader {
                padding:0;
                margin:0;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:#ededed;
                z-index:999;
                vertical-align:center;
        }
        #loaderInner {
                padding:5px;
                position:relative;
                left:0;
                top:0;
                width:275px;
                background:#3c3;
                color:#fff;
        }
        hr.spacer {
                border:0;
                background-color:#ededed;
                width:80%;
                height:1px;
        }
        /* for custom menu buttons, do not appear to have any effect */
        .myCustomTheme .dijitButtonNode {
                border:1px solid #000;
                vertical-align: middle;
                padding: 0.2em 0.2em;
                background: url("themeTesterImages/blackButtonEnabled.gif")
                repeat-x bottom left #474747;
                color: blue;
        }
        .myCustomTheme .dijitButtonHover .dijitButtonNode, .myCustomTheme
        .dijitToggleButtonHover .dijitButtonNode {
                background: url("themeTesterImages/blackButtonHover.gif")
                repeat-x bottom left #3b3b3b !important;


        }


        /* table for displaying routine info summary */
        #table_main
        {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                margin: 0px;
                width: 480px;
                text-align: left;
                border-collapse: collapse;
                /*background: url("{{ MEDIA_URL }}DSC03338.jpg") no-repeat;*/
        }
        #table_main th
        {
                font-size: 14px;
                font-weight: bold;
                padding: 10px 8px;
                color: #800080;
        }
        #table_main td
        {
                padding: 8px;
                color: #669;
        }

        /* box for dispalying the routine information */
         .box {
            margin-top: 10px;
            color: #292929;
            width: 90%;
            border: 1px solid #BABABA;
            background-color: #ddd;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-bottom: 1em;
            -o-border-radius: 10px;
            -moz-border-radius: 12px;
            -webkit-border-radius: 10px;
            -webkit-box-shadow: 0px 3px 7px #adadad;
            border-radius: 10px;
            -moz-box-sizing: border-box;
            -opera-sizing: border-box;
            -webkit-box-sizing: border-box;
            -khtml-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }


        /* Table: Horizontal Zebra */
        #hor-zebra
        {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                margin: 15px;
                /*width: 720px;*/
                text-align: left;
                border-collapse: collapse;
        }
        #hor-zebra th
        {
                font-size: 12px;
                font-weight: bold;
                padding: 10px 8px;
                color: #039;
                 /*background: #98AFC7;*/
                 /*border-top: 1px solid #ccc;*/
                 /*border-bottom: 1px solid #ccc;*/
                 /*border-right: 1px solid #ccc;*/
                 /*border-left: 1px solid #ccc;*/
        }
        #hor-zebra td
        {
                 /*border-top: 1px solid #ccc;*/
                 /*border-bottom: 1px solid #ccc;*/
                 /*border-right: 1px solid #ccc;*/
                 /*border-left: 1px solid #ccc;*/
                padding: 8px;
                color: #669;
        }
        #hor-zebra .odd
        {
                background: #FDEEF4;
        }



        /* Table: Vertical Zebra */
        #ver-zebra
        {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                margin: 15px;
                //width: 480px;
                text-align: left;
                border-collapse: collapse;
        }
        #ver-zebra th
        {
                font-size: 12px;
                font-weight: normal;
                padding: 12px 15px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                color: #039;
                background: #ACC3DB;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;

        }
        #ver-zebra td
        {
                padding: 8px 15px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                color: #669;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
        }
        .vzebra-odd
        {
                background: #F5FFEA;

        }
        .vzebra-even
        {
                background: #eff2ff;

        }
        #ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
        {
                background: #d0dafd;
                border-bottom: 1px solid #c8d4fd;

        }
        #ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
        {
                background: #dce4ff;
                border-bottom: 1px solid #d6dfff;
        }

	/* spacing between list items*/
	ul.wide li { margin-top: 5px; }

</style>
