<style type="text/css">
        html, body {
                height: 100%;
                width: 100%;
                padding: 0;
                border: 0;
        }
        #main {
                height: 100%;
                width: 100%;
                padding: 0;
                border: 5px;
        }
        #bottomTabs {
                height: 65%;
        }

        #main .dijitSplitterH {
                height: 3px
        }
        #main .dijitSplitterV {
                width: 5px                
        }
        /* pre-loader specific stuff to prevent unsightly flash of unstyled content */
        #loader {
                padding:0;
                margin:0;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:#fff;                
                vertical-align:center;                
        }
        #loaderInner {  
                position: absolute;
                height: 64px;
                width: 64px;
                margin: 0 0 0 0;
                top: 33%;
                left: 40%;
                padding: 50px 100px 75px 100px;
                font: 15px Tahoma, "Trebuchet MS", Verdana, sans-serif;
                text-align: center;
                color: #000;                
                background-color: #eee;                
                border-radius: 7px;                
                border: 5px solid #ccc;
        }
        hr.spacer {
                border:0;
                background-color:#ededed;
                width:80%;
                height:1px;
        }
        /* for custom menu buttons, do not appear to have any effect */
        .myCustomTheme .dijitButtonNode {
                border:1px solid #000;
                vertical-align: middle;
                padding: 0.2em 0.2em;
                background: url("themeTesterImages/blackButtonEnabled.gif")
                repeat-x bottom left #474747;
                color: blue;
        }
        .myCustomTheme .dijitButtonHover .dijitButtonNode, .myCustomTheme
        .dijitToggleButtonHover .dijitButtonNode {
                background: url("themeTesterImages/blackButtonHover.gif")
                repeat-x bottom left #3b3b3b !important;


        }

        
        
        /* for Help button tooltipdialog */
	.tooltipLink .dijitButtonNode,
	.tooltipLink .dijitButtonNode .dijitDropDownButtonHover,
	.buttonLink .dijitButtonNode,
	.buttonLink .dijitButtonHover .dijitButtonNode {
		background: none !important;
		border:none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
	}
	.tooltipLink .dijitArrowButtonInner {
		display:none;
	}
	.tooltipLink button,
	.tooltipLink button .dijitButtonText,
	.buttonLink button .dijitButtonText {
		text-decoration:underline !important;
		color:blue;
		display:inline;
	}
        

        /* table for displaying routine info summary */
        #table_main
        {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                margin: 0px;                
                text-align: left;
                border-collapse: collapse;                            
                /*background: url("{{ MEDIA_URL }}DSC03338.jpg") no-repeat;*/
        }
        #table_main th
        {
                font-size: 12px;
                font-weight: bold;
                padding: 0px;
        }

        #table_main_header{
                padding: 5px 2px 5px 2px;
                background-color: #D7E6AC;
                border: 1px solid #9dbf3a;
                margin: 0px;
        }

        #table_main td
        {
                padding: 0px;
                color: #669;
        }

        /* box for dispalying the routine information */
         .box {
            margin-top: 10px;
            color: #292929;
            width: 90%;
            border: 1px solid #BABABA;
            background-color: #ddd;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-bottom: 1em;
            -o-border-radius: 10px;
            -moz-border-radius: 12px;
            -webkit-border-radius: 10px;
            -webkit-box-shadow: 0px 3px 7px #adadad;
            border-radius: 10px;
            -moz-box-sizing: border-box;
            -opera-sizing: border-box;
            -webkit-box-sizing: border-box;
            -khtml-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
        }

        /* Custom CSS for UI prettification */
        #title-div
        {        
                overflow:hidden;
                background-color: #f7fafe; 
                border-style: solid; 
                border-width: 3px; 
                border-color: #e0ecfb;                                
                text-align: center; 
                text-align: middle; 
                font-family: "Tahoma", "Geneva", "sans-serif";
                font-size: 17px; 
                color: #003366;   
        }

        #question-div
        {
                overflow:hidden;
                background-color: #fff; 
                border-style:solid; 
                border-width:3px; 
                border-color: #e0ecfb; 
                padding-top: 10px; 
                padding-left: 10px;      
        }

        #question-div-petsc
        {
                overflow:hidden;
                background-color: #fff; 
                border-style:solid; 
                border-width:3px; 
                border-color: #e0ecfb; 
                padding-top: 10px; 
                padding-left: 10px;
                padding-right: 10px;
                margin-top:10px;
                margin-bottom:10px;
        }    

        #question{
            padding-bottom:10px; 
            margin:0px; 
            border:0px;
        }

        #option{
            padding-left:10px; 
            margin:0px; 
            border:0px;
        }

        
        #button-div
        {
                overflow:hidden;
                background-color: #f7fafe; 
                border-style: solid; 
                border-width: 3px; 
                border-color: #e0ecfb; 
                
        }

        #icon-table
        {
                width: 100%; 
                border: 0px solid;
        }

        #icon-cell
        {
                text-align:left; 
                padding-left:5px; 
                padding-right:5px; 
                width:24px;
        }

        #title-cell
        {
                text-align:left
        }

        #custom-ul
        {
                style="margin-left: 0; 
                padding-left: 20px;"        
        }

        #custom-li
        {
                list-style-type: none; 
                padding-left:-10px;                   
        }

         #routine-div
        {                                
                color: #003366;
                text-align: left;
                text-align: middle;
                padding-left:0px;
                padding-right:0px;
        }

        #routine-name-div
        {
                /*background-color: #e0ecfb; */
                background-color: #e3e0fc;
                text-align: left; 
                text-align: middle; 
                font-family: "Tahoma", "Geneva", "sans-serif";
                font-size: 14px;
                padding:5px;
                padding-left:10px;                                
                color: #003366;   
        }

        #routine-body-div
        {
                background-color: #f8f7fe;
                text-align: left; 
                text-align: middle;                                 
                padding:10px;                        
                color: #003366;   
        }

        #submitButton
        {
                width: 60px;
        }

        #clearButton
        {
                width: 60px;
        }

        #backtrack
        {
                width: 50px;
        }



        /* Table: Horizontal Zebra */
        #hor-zebra
        {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                margin: 15px;
                /*width: 720px;*/
                text-align: left;
                border-collapse: collapse;
        }
        #hor-zebra th
        {
                font-size: 12px;
                font-weight: bold;
                padding: 10px 8px;
                color: #003366;
                background: #c9dcfa;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
        }
        #hor-zebra td
        {
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                padding: 8px;
                color: #003366;
        }
        #hor-zebra .odd
        {
                background: #f7fafe;
        }



        /* Table: Vertical Zebra */
        #ver-zebra
        {
                /*font-family: "Tahoma", "Geneva", "sans-serif";*/
                font-size: 12px;
                margin: 15px;
                /*width: 480px;*/
                text-align: left;
                border-collapse: collapse;
        }
        #ver-zebra th
        {
                font-size: 12px;
                font-weight: normal;
                padding: 12px 15px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                color: #003366;
                background: #c9dcfa;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;

        }
        #ver-zebra td
        {
                padding: 8px 15px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                color: #003366;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
        }
        .vzebra-odd
        {
                background: #e0ebfc;

        }
        .vzebra-even
        {
                background: #f7fafe;

        }
        #ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
        {
                background: #d0dafd;
                border-bottom: 1px solid #c8d4fd;

        }
        #ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
        {
                background: #dce4ff;
                border-bottom: 1px solid #d6dfff;
        }

        /* spacing between list items */
        ul.wide li { margin-top: 5px; }

        
        /* Styling and hiding dijit.form.Button */
        .hiddenStuff
        {
            visibility: collapse;
        }
        .acmeButton .dijitButtonNode {
            background: transparent !important;
            color: white !important;
            padding: 0px !important;
            font-size: x-large !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            border: 0px inset transparent;
        }
        .acmeButtonHover .dijitButtonNode {
            background-color: transparent !important;
            color: transparent !important;
        }
        .acmeButtonFocused .dijitButtonNode {
            border: transparent inset 2px;
        }
        .acmeButtonActive .dijitButtonNode {
            background-color: transparent !important;
            color: transparent !important;
            border: 2px transparent !important;
        }        
</style>
