<script type="text/javascript">
    //require(["dojo/parser", "dojo/dom",
    //         "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dijit/layout/TabContainer", "dijit/layout/SplitContainer",
    //         "dijit/form/DropDownButton", "dijit/PopupMenuItem",
    //         "dijit/Dialog", "dijit/TooltipDialog",
    //         "dojo/dnd/Target",
    //         "dojo/domReady!"],
    //         function(parser){
    //            parser.parse();
    //            test();
    //         }
    //);

    dojo.require("dojo.parser");
    dojo.require("dojo.cookie");
    
    dojo.require("dojo.dnd.Source");
    dojo.require("dojo.dnd.Moveable");
    
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.SplitContainer");
    
    dojo.require("dijit.Dialog");
    dojo.require("dijit.Tooltip");
    dojo.require("dijit.TooltipDialog");
    dojo.require("dijit.Editor");
    

    /* basic dijit form classes */
    dojo.require('dijit.form.CheckBox');
    dojo.require('dijit.form.Textarea');
    dojo.require('dijit.form.FilteringSelect');
    dojo.require('dijit.form.TextBox');
    dojo.require('dijit.form.ValidationTextBox');
    dojo.require('dijit.form.DateTextBox');
    dojo.require('dijit.form.TimeTextBox');
    dojo.require('dijit.form.Button');
    dojo.require('dijit.form.RadioButton');
    dojo.require('dijit.form.Form');
    dojo.require('dijit.form.DateTextBox');
    
    
    dojo.require('dojox.validate');
    dojo.require('dojox.validate.us');
    dojo.require('dojox.validate.web');
    
    /* basic dojox classes */
    dojo.require('dojox.form.BusyButton');
    dojo.require('dojox.form.CheckedMultiSelect');
    
    dojo.require("dojox.widget.Standby");
</script>
