<div id="title-div">
    <table id="icon-table">
        <tr>
            <td id="icon-cell">
                    <img src="{{ MEDIA_URL }}Images/text-x-python.png" width="32" height="32"/>
            </td>           
            <td id="title-cell">
                    Code Template
            </td>
        </tr>
    </table>        
</div>
<div>
        <pre id="template_output">
        </pre>
</div>

<!--<div class="dijitHidden">
    <div id="codeTemp" dojoType="dijit.Dialog" title="Code Template">
        <div align="center">
            <div id="codeFrame" align="left" style="background: #eee; width: 640px; height: 400px; font-family: Courier;"></div><br/>
            <button onClick="dijit.byId('codeTemp').hide()">Close</button>
        </div>
    </div>
</div>  -->

<div id="button-div">
    <table style="width:100%; margin: 0px auto;">
        <tr style="width:100%;">
            <td style="text-align:left;">
                <button type="button" id="clearTemplate" class="myButton" title="Clear Template" style="width: 65px;" onmouseover="" onmouseout=""
                        onclick="clearTemplateArea();">Clear
                </button>
            </td>
<!--            <td style="text-align:right;">
                <button type="button" id="showTemplate" title="Show Template" style="width: 55px;" onmouseover="" onmouseout=""
                        onclick="loadCodeTemplate(); dijit.byId('codeTemp').show();">Show
                </button>
            </td>-->
            <td style="text-align:right; width: 80px;">
                <button type="button" id="downloadTemplate" class="myButton" title="Download Template" style="width: 75px;" onmouseover="" onmouseout=""
                        onclick="return downloadTemplate(time);">Download
                </button>
            </td>
        </tr>
    </table>
</div>