{% spaceless %}
        {% load dojango_base %}
        {% load dojango_filters %}
        {% load dajaxice_templatetags %}
        {% if not DOJANGO %}
                {# if the context processor did not pass the DOJANGO context, we set it here #}
                {% set_dojango_context %}
        {% endif %}
       
        {% if not LANGUAGE_CODE %}
                {% load i18n %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_current_language_bidi as LANGUAGE_BIDI %}
        {% endif %}
{% block _dojango_doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
{% endspaceless %}

{% block _dojango_html_start_tag %}
<html xmlns="http://www.w3.org/1999/xhtml"{% block _dojango_html_lang %}{% endblock %}>
{% endblock %}


{% spaceless %}
        <head>
                {% block _dojango_meta_content_type %}
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                {% endblock %}

                {# This must be before any non-english text, i.e. title. http://www.dojotoolkit.org/book/dojo-book-0-9/part-3-programmatic-dijit-and-dojo/i18n/globalization-guidelines/encoding-guideli#textfiles #}
                {% block _dojango_meta_content_lang %}{% endblock %}

                <title>Lighthouse Search</title>

                <link rel="shortcut icon" href="{{ MEDIA_URL }}Images/favicon.png" />          

                {% block _dojango_dojo_styles %}
                <style type="text/css">
                        @import "{{ DOJANGO.DOJO_URL }}/resources/dojo.css";
                        @import "{{ DOJANGO.THEME_CSS_URL }}";
                        @import url("http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/resources/dnd.css");
                        @import url("{{ MEDIA_URL }}dndDefault.css");
                </style>
                {% endblock %}


                {% dajaxice_js_import %}

                <script type="text/javascript">
                        // baseUrl setting is needed, if you want to combine a local with a remote build!
                        {% block _dojango_dj_config %}
                                var dojoConfig = {
                                        //async: true,
                                        'isDebug':{{ DOJANGO.DEBUG|json }},
                                        'parseOnLoad':true,
                                        'baseUrl':"{{ DOJANGO.DOJO_BASE_PATH }}"
                                        {% if not DOJANGO.IS_LOCAL %}
                                                ,'dojoBlankHtmlUrl': "{{ DOJANGO.DOJANGO_URL }}/resources/blank.html"
                                                ,'dojoIframeHistoryUrl': "{{ DOJANGO.DOJANGO_URL }}/resources/blank.html"
                                        {% endif %}
                                        {% if DOJANGO.VERSION > '1.6' %}
                                                ,'paths':{'dojo': '{{ DOJANGO.DOJO_URL }}', 'dijit': '{{ DOJANGO.DIJIT_URL }}', 'dojox': '{{ DOJANGO.DOJOX_URL }}'}
                                        {% else %}{% if DOJANGO.CDN_USE_SSL and not DOJANGO.IS_LOCAL %}
                                                ,'modulePaths':{'dojo': '{{ DOJANGO.DOJO_URL }}', 'dijit': '{{ DOJANGO.DIJIT_URL }}', 'dojox': '{{ DOJANGO.DOJOX_URL }}'}
                                        {% endif %}{% endif %}
                                };
                        {% endblock %}
                </script>
       

                {% block _dojango_post_dj_config %}
                {# don't use this block, it is used by base_i18n.html #}
                {% endblock %}
       
       
                {% block dojango_post_dj_config %}
                {# if you want to manipulate djConfig stuff #}
                <script>dojoConfig.parseOnLoad = false;</script>
                {% endblock %}
       
       
                <script type="text/javascript" src="{{ DOJANGO.DOJO_SRC_FILE }}">
                </script>
       

                {# for a locally built version dojango should already be included #}
                {% if not DOJANGO.IS_LOCAL_BUILD %}
                <script type="text/javascript" src="{{ DOJANGO.DOJANGO_SRC_FILE }}">
                </script>
                {% endif %}

     
 
            <!--
                        #leftAccordion {
                                width: 65%;
                                font-family: \u2018Palatino Linotype\u2019, \u2018Book Antiqua\u2019, Palatino, serif;
                                font-size:16px;
                        }
            -->
                       
                <!-- for dajax prototype -->
                {% include "dajaxDojo.html" %}
               
                {% include "style.html" %}
               
                <script type="text/javascript">
                        window.__globalList = {
                                dojo: true,
                                dijit: true,
                                dojox: true,
                                dojoConfig: true
                        };
                        for(var i in window) {
                                window.__globalList[i] = true;
                        }
                </script>
        </head>
{% endspaceless %}



{% block dojango_body %}
<body class="{{ DOJANGO.THEME }}">
        <!-- basic preloader: -->
        <div id="loader">
                <div id="loaderInner">
                        <img src="{{ MEDIA_URL }}Images/loadingSquare.gif"/>
			<br><br>
			Loading..
                </div>
        </div>

        <!-- "main" BorderContainer just contains page title and another BorderContainer -->
        <div id="main" dojoType="dijit.layout.BorderContainer">
                <div id="header" dojoType="dijit.layout.ContentPane" region="top" style="border-top:6px; border-color:#c9dcfa;">
			<img src="{{ MEDIA_URL }}Images/Petsc_header.png"/>
			<div style="float:right; padding-top: 7px;">
				{% if user.is_authenticated %}                            
					<div style="text-align:right; color:#808080;">
						<table>
							<tr>
								<td>Welcome, {{ user.username }}!</td>
							</tr>
							<tr>
							<!--<a href="/accounts/logout/"><img src="{{ MEDIA_URL }}Images/logout.png"/></a>-->        
								<td>My Account &nbsp;&nbsp; |&nbsp; &nbsp;&nbsp;
								    <a style="text-decoration: none;" href="/accounts/logout/">Logout</a>
								</td>
							</tr>
						</table>        
					</div>
				{% else %}
					<div>
						<table>
							<tr>
								<td>
									<a href="/accounts/logout/"><img src="{{ MEDIA_URL }}Images/logout.png"/></a>
								</td>          
								<td>
									<a style="text-decoration: none; color:#000;" href="/accounts/logout/">logout</a>
								</td>
							</tr>
						</table>        
					</div>                                
				{% endif %}
			</div>
		 </div>

                <!-- "mainSplit" BorderContainer has all the real content -->
                <div dojoType="dijit.layout.BorderContainer" liveSplitters="false"
                        design="sidebar" region="center" id="mainSplit">


                        <div dojoType="dijit.layout.ContentPane" duration="200" minSize="100" style="width: 33%;" id="leftTab" region="leading" splitter="true">
                                <!-- Simple Search-->
                                <div dojoType="dijit.layout.ContentPane" title="PETSc" selected="true" style="padding:2px;">        
                                    <div id="title-div">
										<table id="icon-table">
											<tr>
												<td id="icon-cell">
													<img src="{{ MEDIA_URL }}Images/view-pim-tasks.png" width="32" height="32"/>
												</td>		
												<td id="title-cell">
													Configuration
												</td>
											</tr>
										</table>	
									</div>
									<br>
									<form action="/lapack_le/petsc/linear_system/code/" method="POST" name="petsc_form" id="petsc_form">
										{% csrf_token %}
			    						<div id="question-div">			    						
			    						<table>	
			    						<tr>
		    							<td style="text-align: right;">
		    								Main operation:
		    							</td>
			    						<td>						    							
			    							<select name="main_task">			    							  
											  <option value="Solve a linear system">Solve a linear system</option>
											</select>
										</td>
										</tr>
																			
										<tr>
										<td style="text-align: right;">
		    								Upload matrix:
		    							</td>
			    						<td>											
			    							<select name="upload_mat" id="upload_mat" onchange="upload_mat_changed();">
			    							  <option value="None"></option>
											  <option value="Yes">Yes</option>
											  <option value="No">No</option>					  
											</select>
										</td>
			    						</tr>

			    						<tr >
			    						<td style="text-align: right;">
											Matrix properties:
		    							</td>
			    						<td>
			    							<select name="mat_props" id="mat_props" disabled>
			    							  <option value="0"></option>
											  <option value="1">Something</option>
											</select>
										</td>
			    						</tr>

			    						<tr id="file_chooser">
			    						<td style="text-align: right;">			    						
											File chooser:
		    							</td>
		    							<td>
 											<input id="file" type="file" name="file" size="40" disabled>
										</td>
			    						</tr>								
										
										<tr>
			    						<td style="text-align: right;">
											Solution type:
		    							</td>
			    						<td>										
			    							<select name="soln_type" id="soln_type">
			    							  <option value="0"></option>
											  <option value="Sequential">Sequential</option>
											  <option value="Parallel">Parallel</option>					  
											</select>
										</td>
										</tr>
										
										<tr>
			    						<td style="text-align: right;">
											Output format:
		    							</td>
			    						<td>										
			    							<select name="output_format" id="output_format">
			    							  <option value="None"></option>
											  <option value="PETSc binary format">PETSc binary format</option>
											  
											</select>
										</td>
										</tr>
										
										<tr>
			    						<td style="text-align: right;">
											Solver:
		    							</td>
			    						<td>										
			    							<select name="solver" id="solver">
			    							  <option value="None"></option>
											  <option value="Conjugate Gradient">Conjugate Gradient</option>
											  <option value="BiCGStab">BiCGStab</option>
											  <option value="GMRES">GMRES</option>
											  <option value="FGMRES">FGMRES</option>
											  <option value="TFQMR">TFQMR</option>
											</select>
										</td>
										</tr>
										
										<tr>
			    						<td style="text-align: right;">
											Preconditioner:
		    							</td>
			    						<td>										
			    							<select name="precond" id="precond">
			    							  <option value="None"></option>
			    							  <option value="ILU">ILU</option>
			    							  <option value="ICC">ICC</option>
			    							  <option value="LU">LU</option>
			    							  <option value="Jacobi">Jacobi</option>
											  <option value="ASM">ASM</option>
											  <option value="Block Jacobi">Block Jacobi</option>
											  <option value="MG">MG</option>
											</select>
										</td>
										</tr>
									</table>
									<br>
			    					</div>
				    				<br>

				    				<div id="button-div">
									    <table style="width:100%; margin: 0px auto;">
										<tr style="width:100%;">
											<td style="text-align:left;">				
												<button type="button" name="clear" id="clearButton" title="Clear Search" onmouseover="showTooltip('tooltip', 'Clear Search','#cc0000');" onmouseout="showTooltip('tooltip','');">
												    <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
												</button>				
											</td>			
											<td style="text-align:center;">
												<div id="tooltip"></div>
											</td>
											<td style="text-align:right;">
												<button type="submit" name="Submit" id="submitButton" title="Submit"onmouseover="showTooltip('tooltip', 'Submit', '#009900');" onmouseout="showTooltip('tooltip','');" onclick="">
												    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
												</button>
											</td>
										</tr>
										</table>
									</div>				
					    			</form>
                                </div><!-- end Simple Search -->

                                
                                
                        </div><!-- end TabsContainer -->


                        <!-- top tabs (marked as "center" to take up the main part of the BorderContainer) -->
                        <div dojoType="dijit.layout.ContentPane" region="center" id="topTabs">
                                <!-- first upper tab ==> Search Result -->
                                
                                	<table style="width: 100%; height: 100%;">
                                		<tr style="height: 40px;">
                                			<td style=" padding-bottom: 11px;">
                                				<div id="title-div">
													<table id="icon-table">
														<tr>
															<td id="icon-cell">
																<img src="{{ MEDIA_URL }}Images/code.png" width="32" height="32"/>
															</td>		
															<td id="title-cell">
																PETSc Code
															</td>
														</tr>
													</table>	
												</div>
                                			</td>
                                		</tr>
                                		<tr>
                                			<td>
<div id="question-div" style="height: 100%;">
	{% if code %}
	<textarea readonly style="overflow: auto; height: 92%; width: 96%; font-family: monospace; white-space: pre; padding: 10px; font-size: 12px;">
static char help[] = "Writes an array to a file.\n\n";

#include |petscvec.v|

#undef __FUNCT__
#define __FUNCT__ "main"
int main(int argc,char **args)
{
  PetscErrorCode ierr;
  PetscMPIInt    size;
  int            fd;
  PetscInt       i,m = 10;
  PetscScalar    *array;
  PetscViewer    view_out,view_in;

  PetscInitialize(&argc,&args,(char *)0,help);
  ierr = MPI_Comm_size(PETSC_COMM_WORLD,&size);CHKERRQ(ierr);
  if (size != 1) SETERRQ(PETSC_COMM_SELF,1,"This is a uniprocessor example only!");
  
  ierr = PetscOptionsGetInt(PETSC_NULL,"-m",&m,PETSC_NULL);CHKERRQ(ierr);

  /* ---------------------------------------------------------------------- */
  /*          PART 1: Write some data to a file in binary format            */
  /* ---------------------------------------------------------------------- */

  /* Allocate array and set values */
  ierr = PetscMalloc(m*sizeof(PetscScalar),&array);CHKERRQ(ierr);
  for (i=0; iKm; i++) {
    array[i] = i*1.0;
  }

  /* Open viewer for binary output */
  ierr = PetscViewerBinaryOpen(PETSC_COMM_SELF,"input.dat",FILE_MODE_WRITE,&view_out);CHKERRQ(ierr);
  ierr = PetscViewerBinaryGetDescriptor(view_out,&fd);CHKERRQ(ierr);

  /* Write binary output */
  ierr = PetscBinaryWrite(fd,&m,1,PETSC_INT,PETSC_FALSE);CHKERRQ(ierr);
  ierr = PetscBinaryWrite(fd,array,m,PETSC_SCALAR,PETSC_FALSE);CHKERRQ(ierr);

  /* Destroy the output viewer and work array */
  ierr = PetscViewerDestroy(&view_out);CHKERRQ(ierr);
  ierr = PetscFree(array);CHKERRQ(ierr);

  /* Free data structures */
  ierr = PetscViewerDestroy(&view_in);CHKERRQ(ierr);
  ierr = PetscFinalize();
  return 0;
}</textarea>
 {% else %}
 	Your PETSc program will be shown here.
 {% endif %}			    						
</div>                                				
                                			</td>
                                		</tr>
                                		<tr style="height: 50px;">
                                			<td>
                                				<div id="button-div">
												    <table style="width:100%; margin: 0px auto;">
													<tr style="width:100%;">
														<td style="text-align:left;">									<button onclick="">
															    Download
															</button >													
														</td>			
														<td style="text-align:center;">
														
														</td>
														<td style="text-align:right;">
															
														</td>
													</tr>
													</table>
												</div>
                                			</td>
                                		</tr>
                                	</table>                                										
                                        
                                
                             
                        </div><!-- end of region="center" TabContainer -->


                        
                        <div >                                
                                <div >
                                        <span  id="themeData"></span>
                                </div>
                        </div>
                       
                </div> <!-- end of "mainSplit" BorderContainer -->
        </div><!-- end of "main" BorderContainer -->


        {% include "dojoRequires.html" %}

        {% include "jsFunctions.html" %}

        {% block dojango_require %}
                <script type="text/javascript">
                        {% for require in DOJANGO.COLLECTOR %}
                                {% spaceless %}
                                        dojo.require("{{ require }}");
                                {% endspaceless %}
                        {% endfor %}            
                </script>
        {% endblock %}
</body>
{% endblock %}

</html>
