{% load highlight %}

{% if results %}
<div id="title-div">
  <table style="width: 100%; border: 0px solid;">
    <tr>
      <td style="text-align:left; padding-left:5px; width:24px;">
        <img src="{{ MEDIA_URL }}Images/edit-find-10.png" width="32" height="32"/>
      </td>   
      <td style="text-align:left">
        Lighthouse found <u>{{ results|length }}</u> routine{{ results|pluralize }} for you:
      </td>
    </tr>
  </table>  
</div>

<div id="routineListNode" class="container">

{% for item in results %}
  
	<div class="dojoDndItem" id="nsel_{{ item.routine|upper }}"
	     detail="{{ item.routine }}_{{ item.info }}"
	     style="list-style-type: none;">
		<div class="routine">
			<table id="ntb_{{ item.routine|upper }}" style="border-radius: 5px; padding-left: 4px;">
				<tr>
					<td class="hiddenStuff">
						<input type="checkbox"/> <!--this is a dummy checkbox = for space-->
					</td>
					<td style="width: 56px; font-weight: bold;">
						{{ item.routine|upper }}
					</td>
				</tr>
			</table>			
		</div>
		<div class="routineInfo" style="margin-bottom: 15px;">{% highlight item.info with "{{ item.routine|upper }}" max_length 500 %}
			<button onclick="showMore('nsel_{{ item.id }}', '{{ MEDIA_URL }}{{ item.url }}')">more</button>
		</div>
		<div class="dijitHidden">
			<div id="nsel_{{ item.id }}" dojoType="dijit.Dialog" title="Routine Info - {{ item.thePrecision|upper }}{{ item.routineName|upper }}">
				<div align="center">
					<table id="table_main" width="80%" border = "1">
						<tr>
						<th>Routine Name</th>
						<th>Info</th>
						</tr>
						<tr>
						<td>{{ item.routine|upper }}</td>
						<td>{{ item.info|upper }}</td> 
						</tr>
					</table><br/>
					<iframe id="nsel_{{ item.id }}Iframe" src="" width="750px" height="400px"></iframe><br/></br>
					<button onClick="dijit.byId('nsel_{{ item.id }}').hide()">Close</button>
				</div>
			</div>
		</div>		
	</div>

{% endfor %}

</div>
{% else %} 
<div id="title-div">
  <table style="width: 100%; border: 0px solid;">
    <tr>
      <td style="text-align:left; padding-left:5px; width:24px;">
        <img src="{{ MEDIA_URL }}Images/edit-find-10.png" width="32" height="32"/>
      </td>   
      <td style="text-align:left">
        Lighthouse found no results for your search!
      </td>
    </tr>
  </table>  
</div>

{% endif %} 
<!--
<div id="title-div">
  <table style="width: 100%; border: 0px solid;">
    <tr>
      <td style="text-align:left; padding-left:5px; width:24px;">
        <img src="{{ MEDIA_URL }}Images/edit-find-10.png" width="32" height="32"/>
      </td>   
      <td style="text-align:left">
        {{ message}}
      </td>
    </tr>
  </table>  
</div>-->

