{% extends "dojango/base_slepc.html" %}


<!-- ########### Guided search questions: ###########-->
{% block dojango_content_guidedSearch %}
{% include "lighthouse/slepc_eprob/guidedSearch.html" %}
{% endblock %}


<!-- ########### Guided search result: ###########-->
{% block dojango_content_guided_result %}
{% include "lighthouse/slepc_eprob/guidedResult.html" %}
{% endblock %}


<!-- ########### Workare: ###########-->
{% block dojango_content_workarea %}
{% include "lighthouse/slepc_eprob/selectedRoutines.html" %}
{% endblock %}


<!-- ########### Code Template: ###########-->
{% block dojango_content_code %}
{% include "lighthouse/slepc_eprob/codeTemplate.html" %}
{% endblock %}

<!-- ########### Script Template: ###########-->
{% block dojango_content_script %}
{% include "lighthouse/slepc_eprob/scriptTemplate.html" %}
{% endblock %}
