{% extends "dojango/base_lapack.html" %}


{% block dojango_content_guidedSearch %}
<div id="title-div">
  <table id="icon-table">
    <tr>
      <td id="icon-cell">
        <img src="{{ MEDIA_URL }}Images/guidedSearch.png" width="32" height="32"/>
      </td>   
      <td id="title-cell">
        Guided Search
      </td>
    </tr>
  </table>  
</div>
<br>


<!-- ### Questions 1 (problem) and 2 (equation) answered ###-->
<tr>
  <th>
    <label for="id_question_prob">
      <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
      <b> Which of the following functions do you wish to execute?</b>
    </label>
  </th>
  {% for item in query_prob %} 
<ul style="margin-left: 0; padding-left: 20px;">
  <li style="list-style-type: none; padding-left:-10px;">
    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="8" height="8"/> 
    {{ item.1 }}
  </li>
</ul>
  {% endfor %}
</tr>



<tr>
  <th>
    <label for="id_question_equa">
      <img src="{{ MEDIA_URL }}Images/arrow.png" width="8" height="8"/>
      <b> What form of the linear system do you want to solve?</b>
    </label>
  </th>
<ul style="margin-left: 0; padding-left: 20px;">
  <li style="list-style-type: none; padding-left:-10px;">
    <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="8" height="8"/> 
    {{ query_equa|safe }}
  </li>
</ul>




<!-- ### Questions 3: Are there complex numbers in your matrix? ###-->
<form id="frmComp" action="/lapack_le/guided/problem_equation_complex/" method="post">
	{% csrf_token %}  
  <div id="question-div">
    {{ form.as_ul }}
  </div>
  <br>


  <div id="button-div">
      <table style="width:100%; margin: 0px auto;">
    <tr style="width:100%;">
      <td style="text-align:left;">       
        <button type="button" name="clear" id="clearButton" class="myButton" title="Clear Search"
		onmouseover="showTooltip('tooltip', 'Clear Search','#cc0000');"
		onmouseout="showTooltip('tooltip','');"
		onclick="show_confirm('/lapack_le/')">
            <img src="{{ MEDIA_URL }}Images/clear.png" width="16" height="16"/> 
        </button>       
      </td>     
      <td style="text-align:center;">
        <div id="tooltip"></div>
      </td>
      <td style="text-align:right;">
        <button type="submit" name="Submit" id="submitButton" class="myButton" title="Submit Answer"
		onmouseover="showTooltip('tooltip', 'Submit', '#009900');"
		onmouseout="showTooltip('tooltip','');"
		onclick="return checkRadios();">
            <img src="{{ MEDIA_URL }}Images/dialog-ok-4.png" width="16" height="16"/>
        </button >
      </td>
    </tr>
      </table>
  </div>
</form>
{% endblock %}
<!-- ########################################################################################################## -->




<!-- ########### Simple search result: ###########-->
{% block dojango_content_search_result %}
{% include "lighthouse/lapack_le/guided/guidedResult.html" %}
{% endblock %}

<!-- ########### Advanced search questions: ###########-->

{% block dojango_content_advancedSearch %}
{% include "lighthouse/lapack_le/advanced/advancedSearch.html" %}
{% endblock %}


<!-- ########### Keyword search: ###########-->
{% block dojango_content_keywordSearch %}
{% include "lighthouse/lapack_le/keywordSearch.html" %}
{% endblock %}


<!-- ########### Selected routines: ###########-->
{% block dojango_content_selected_routines %}
{% include "lighthouse/lapack_le/selectedRoutines.html" %}
{% endblock %}


<!-- ########### Code Template: ###########-->
{% block dojango_content_code_template %}
{% include "lighthouse/lapack_le/codeTemplate.html" %}
{% endblock %}


