/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #355379 url(/static/images/bg2.jpg) no-repeat center top;
	overflow: hidden;
	font: normal small Arial, Helvetica, sans-serif;
	color: #696969;
}

h1, h2, h3 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
}

p {
}

blockquote {
	margin-left: 3em;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}

img {
}




/* Logo */

#logo {
	width: 700px;
	height: 220px;
	margin: 0 auto;
	/*background: url(images/bg2.jpg) no-repeat;*/
}

#logo h1 {
	padding: 90px 0 0 95px;
	/*text-transform: lowercase;*/
	letter-spacing: -2px;
	font-size: 4em;
}

#logo h1 span {
	font-size: .7em;
	font-weight: normal;
}

#logo h2 {
	margin-top: auto;
	padding: 5px 0 0 40px;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: .7em;
	font-weight: bold;
	color: #778899;
}

#logo a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 700px;
	height: 50px;
	margin: -40px auto 0 auto;
	/*background: url(/static/images/img0.jpg) no-repeat;*/
}

#menu ul {
	float: right;
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 17px 20px 0 20px;
	text-decoration: none;
/*	text-transform: lowercase;*/
	font-size: 1em;
	font-weight: bold;
	color: #FFA500;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	text-transform: uppercase;
}

/* Content */

#content {
	width: 700px;
	margin: 70px auto;
	padding: 0 0px 0 300px;
	margin-bottom: 0px;
}

#extra {
}

/* Content > Main */

#main {
	float: right;
	width: 460px;
}

#main a {
}



/* Content > Sidebar */

#sidebar {
	float: left;
	width: 220px;
}

#sidebar a {
}

/* Content > Sidebar > Login */


.login-card {
	padding: 40px;
	width: 270px;
	background-color: #F7F7F7;
	margin: 0 auto 10px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.login-card h1 {
	font-weight: 100;
	text-align: left;
	font-size: 2.3em;
	color: #C0C0C0;
}

.login-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.login-card input[type=text], input[type=password] {
	height: 44px;
	font-family:helvetica, sans-serif;
	font-size:14px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
      /* border-radius: 3px; */
      /* -webkit-user-select: none;
	user-select: none; */
}

.login-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	cursor:pointer;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-card a:hover {
	opacity: 1;
}

.login-help {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.try-out {
	border: 0px;
	width: 100%;
	height: 36px;
	font-family:sans-serif;
	font-size: 12pt;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #469246;
	cursor:pointer;
}


.try-out:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: green;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

/* Footer */

#footer {
	width: 1280px;
	height:16px;
	background: url(/static/images/footer.png);
	margin: 730px auto;
	text-align:center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	color:#386172;
	padding-top:0px;
}

#footer a {
	text-decoration:none;
	font-size:9px;
	color:#386172;
}

#footer p {
	margin: 0;
	font-size: x-small;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}