{% extends "dojango/base_lapack.html" %}


<!-- ########### Guided search questions: ###########-->
{% block dojango_content_guidedSearch %}
{% include "lighthouse/lapack_sylvester/guided/guidedSearch.html" %}
{% endblock %}


<!-- ########### Advanced search form: ###########-->
{% block dojango_content_advancedSearch %}
{% include "lighthouse/lapack_sylvester/advanced/advancedSearch.html" %}
{% endblock %}


<!-- ########### Search results: ###########-->
{% block dojango_content_search_result %}
    {% if form_submitted %}
        {% include "lighthouse/lapack_sylvester/resultsAdvanced.html" %}
    {% else %}
        {% include "lighthouse/lapack_sylvester/results.html" %}
    {% endif %}
{% endblock %}
